### Loading and inspecting the dataset - understanding the structure of the dataset¶

In [79]:
# loading dataset
import pandas as pd
df = pd.read_csv("Ecommerce Consumer Behaviour Dataset.csv", encoding='utf-8')
df

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Évry,Gardening & Outdoors,$333.80,...,7,NaN,Tablet,Credit Card,03-01-2024,True,False,Need-based,No Preference,2
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,$222.22,...,5,High,Tablet,PayPal,4/16/2024,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,$426.22,...,7,Low,Smartphone,Debit Card,3/15/2024,True,True,Impulsive,No Preference,3
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Wiwilí,Home Appliances,$101.31,...,1,NaN,Smartphone,Other,10-04-2024,True,True,Need-based,Express,10
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,$211.70,...,10,NaN,Smartphone,Debit Card,1/30/2024,False,False,Wants-based,No Preference,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,20-562-2569,44,Female,High,Divorced,Bachelor's,High,Aramayuan,Mobile Accessories,$463.67,...,4,NaN,Tablet,PayPal,07-07-2024,True,False,Need-based,Standard,5
996,41-366-4205,50,Female,High,Single,High School,Middle,Paquera,Gardening & Outdoors,$69.78,...,6,Low,Tablet,Cash,3/28/2024,True,False,Wants-based,No Preference,9
997,77-241-7621,26,Male,High,Married,Bachelor's,High,Warudoyong,Food & Beverages,$453.37,...,6,High,Desktop,Credit Card,03-11-2024,True,True,Wants-based,Express,9
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Béziers,Baby Products,$106.15,...,5,Medium,Desktop,Cash,3/30/2024,True,True,Impulsive,Standard,8
999,48-203-9118,21,Female,Middle,Single,High School,High,Dongzhou,Health Care,$378.47,...,10,Low,Tablet,Other,12-08-2024,False,False,Planned,Express,2

In [80]:
df_backup = df.copy()

In [81]:
df_backup

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Évry,Gardening & Outdoors,$333.80,...,7,NaN,Tablet,Credit Card,03-01-2024,True,False,Need-based,No Preference,2
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,$222.22,...,5,High,Tablet,PayPal,4/16/2024,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,$426.22,...,7,Low,Smartphone,Debit Card,3/15/2024,True,True,Impulsive,No Preference,3
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Wiwilí,Home Appliances,$101.31,...,1,NaN,Smartphone,Other,10-04-2024,True,True,Need-based,Express,10
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,$211.70,...,10,NaN,Smartphone,Debit Card,1/30/2024,False,False,Wants-based,No Preference,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,20-562-2569,44,Female,High,Divorced,Bachelor's,High,Aramayuan,Mobile Accessories,$463.67,...,4,NaN,Tablet,PayPal,07-07-2024,True,False,Need-based,Standard,5
996,41-366-4205,50,Female,High,Single,High School,Middle,Paquera,Gardening & Outdoors,$69.78,...,6,Low,Tablet,Cash,3/28/2024,True,False,Wants-based,No Preference,9
997,77-241-7621,26,Male,High,Married,Bachelor's,High,Warudoyong,Food & Beverages,$453.37,...,6,High,Desktop,Credit Card,03-11-2024,True,True,Wants-based,Express,9
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Béziers,Baby Products,$106.15,...,5,Medium,Desktop,Cash,3/30/2024,True,True,Impulsive,Standard,8
999,48-203-9118,21,Female,Middle,Single,High School,High,Dongzhou,Health Care,$378.47,...,10,Low,Tablet,Other,12-08-2024,False,False,Planned,Express,2

In [82]:
# Basic information
# gets the dimensions of dataframe
df.shape

(1000, 28)

In [83]:
# gets a concise summary of dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Customer_ID                            1000 non-null   object
 1   Age                                    1000 non-null   int64
 2   Gender                                 1000 non-null   object
 3   Income_Level                           1000 non-null   object
 4   Marital_Status                         1000 non-null   object
 5   Education_Level                        1000 non-null   object
 6   Occupation                             1000 non-null   object
 7   Location                               1000 non-null   object
 8   Purchase_Category                      1000 non-null   object
 9   Purchase_Amount                        1000 non-null   object
 10  Frequency_of_Purchase                  1000 non-null   int64
 11  Purchase_Channel                       1000 non-null   object
 12  Brand_Loyalty                          1000 non-null   int64
 13  Product_Rating                         1000 non-null   int64
 14  Time_Spent_on_Product_Research(hours)  1000 non-null   float64
 15  Social_Media_Influence                 753 non-null    object
 16  Discount_Sensitivity                   1000 non-null   object
 17  Return_Rate                            1000 non-null   int64
 18  Customer_Satisfaction                  1000 non-null   int64
 19  Engagement_with_Ads                    744 non-null    object
 20  Device_Used_for_Shopping               1000 non-null   object
 21  Payment_Method                         1000 non-null   object
 22  Time_of_Purchase                       1000 non-null   object
 23  Discount_Used                          1000 non-null   bool
 24  Customer_Loyalty_Program_Member        1000 non-null   bool
 25  Purchase_Intent                        1000 non-null   object
 26  Shipping_Preference                    1000 non-null   object
 27  Time_to_Decision                       1000 non-null   int64
dtypes: bool(2), float64(1), int64(7), object(18)
memory usage: 205.2+ KB

In [85]:
# generates descriptive statistics for all columns in the dataframe including both numeric and non-numeric data.
df.describe()

,Age,Frequency_of_Purchase,Brand_Loyalty,Product_Rating,Time_Spent_on_Product_Research(hours),Return_Rate,Customer_Satisfaction,Time_to_Decision
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,34.304000,6.945000,3.026000,3.033000,1.013030,0.954000,5.399000,7.547000
std,9.353238,3.147361,1.416803,1.436654,0.791802,0.810272,2.868454,4.035849
min,18.000000,2.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
25%,26.000000,4.000000,2.000000,2.000000,0.000000,0.000000,3.000000,4.000000
50%,34.500000,7.000000,3.000000,3.000000,1.000000,1.000000,5.000000,8.000000
75%,42.000000,10.000000,4.000000,4.000000,2.000000,2.000000,8.000000,11.000000
max,50.000000,12.000000,5.000000,5.000000,2.000000,2.000000,10.000000,14.000000

In [86]:
# displays the first 10 rows of dataframe
df.head(10)

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Évry,Gardening & Outdoors,$333.80,...,7,NaN,Tablet,Credit Card,03-01-2024,True,False,Need-based,No Preference,2
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,$222.22,...,5,High,Tablet,PayPal,4/16/2024,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,$426.22,...,7,Low,Smartphone,Debit Card,3/15/2024,True,True,Impulsive,No Preference,3
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Wiwilí,Home Appliances,$101.31,...,1,NaN,Smartphone,Other,10-04-2024,True,True,Need-based,Express,10
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,$211.70,...,10,NaN,Smartphone,Debit Card,1/30/2024,False,False,Wants-based,No Preference,4
5,82-561-4233,45,Male,Middle,Married,Master's,High,Boro Utara,Office Supplies,$487.95,...,3,NaN,Tablet,Debit Card,3/19/2024,False,False,Planned,No Preference,7
6,90-144-9193,21,Female,Middle,Divorced,High School,Middle,Liren,Furniture,$486.40,...,9,Low,Desktop,Debit Card,3/15/2024,True,False,Need-based,Express,13
7,88-661-4689,39,Male,Middle,Single,High School,Middle,Taocheng,Books,$218.06,...,9,NaN,Desktop,Credit Card,3/17/2024,False,True,Impulsive,No Preference,13
8,37-065-3182,24,Female,High,Divorced,Master's,Middle,Gråbo,Office Supplies,$201.96,...,2,High,Desktop,Cash,06-10-2024,False,False,Need-based,Standard,7
9,84-894-9222,25,Bigender,High,Married,Bachelor's,High,Pryamitsyno,Sports & Outdoors,$418.83,...,5,Medium,Tablet,PayPal,10-07-2024,True,False,Need-based,No Preference,13

### Checking for duplicates

In [87]:
# checking for duplicates
df.duplicated().sum()

0

### Dealing with missing values

In [88]:
# checking for missing values
df.isnull().sum()

Customer_ID                                0
Age                                        0
Gender                                     0
Income_Level                               0
Marital_Status                             0
Education_Level                            0
Occupation                                 0
Location                                   0
Purchase_Category                          0
Purchase_Amount                            0
Frequency_of_Purchase                      0
Purchase_Channel                           0
Brand_Loyalty                              0
Product_Rating                             0
Time_Spent_on_Product_Research(hours)      0
Social_Media_Influence                   247
Discount_Sensitivity                       0
Return_Rate                                0
Customer_Satisfaction                      0
Engagement_with_Ads                      256
Device_Used_for_Shopping                   0
Payment_Method                             0
Time_of_Purchase                           0
Discount_Used                              0
Customer_Loyalty_Program_Member            0
Purchase_Intent                            0
Shipping_Preference                        0
Time_to_Decision                           0
dtype: int64

In [89]:
# checking the unique values in Social_Media_Influence column
df['Social_Media_Influence'].unique()

array([nan, 'Medium', 'Low', 'High'], dtype=object)

In [90]:
# checking the unique values in Engagement_with_Ads column
df['Engagement_with_Ads'].unique()

array([nan, 'High', 'Low', 'Medium'], dtype=object)

In [91]:
# checking if the Social_Media_Influence column contains the value 'None'
df[df['Social_Media_Influence'] == 'None']

Empty DataFrame
Columns: [Customer_ID, Age, Gender, Income_Level, Marital_Status, Education_Level, Occupation, Location, Purchase_Category, Purchase_Amount, Frequency_of_Purchase, Purchase_Channel, Brand_Loyalty, Product_Rating, Time_Spent_on_Product_Research(hours), Social_Media_Influence, Discount_Sensitivity, Return_Rate, Customer_Satisfaction, Engagement_with_Ads, Device_Used_for_Shopping, Payment_Method, Time_of_Purchase, Discount_Used, Customer_Loyalty_Program_Member, Purchase_Intent, Shipping_Preference, Time_to_Decision]
Index: []

[0 rows x 28 columns]

In [92]:
# checking if the Engagement_with_Ads column contains the value 'None'
df[df['Engagement_with_Ads'] == 'None']

Empty DataFrame
Columns: [Customer_ID, Age, Gender, Income_Level, Marital_Status, Education_Level, Occupation, Location, Purchase_Category, Purchase_Amount, Frequency_of_Purchase, Purchase_Channel, Brand_Loyalty, Product_Rating, Time_Spent_on_Product_Research(hours), Social_Media_Influence, Discount_Sensitivity, Return_Rate, Customer_Satisfaction, Engagement_with_Ads, Device_Used_for_Shopping, Payment_Method, Time_of_Purchase, Discount_Used, Customer_Loyalty_Program_Member, Purchase_Intent, Shipping_Preference, Time_to_Decision]
Index: []

[0 rows x 28 columns]

In [93]:
df[df['Engagement_with_Ads'].isna()].head()

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Évry,Gardening & Outdoors,$333.80,...,7,NaN,Tablet,Credit Card,03-01-2024,True,False,Need-based,No Preference,2
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Wiwilí,Home Appliances,$101.31,...,1,NaN,Smartphone,Other,10-04-2024,True,True,Need-based,Express,10
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,$211.70,...,10,NaN,Smartphone,Debit Card,1/30/2024,False,False,Wants-based,No Preference,4
5,82-561-4233,45,Male,Middle,Married,Master's,High,Boro Utara,Office Supplies,$487.95,...,3,NaN,Tablet,Debit Card,3/19/2024,False,False,Planned,No Preference,7
7,88-661-4689,39,Male,Middle,Single,High School,Middle,Taocheng,Books,$218.06,...,9,NaN,Desktop,Credit Card,3/17/2024,False,True,Impulsive,No Preference,13

In [94]:
# handling missing values by replacing null values with 'Unknown'
df['Social_Media_Influence'] = df['Social_Media_Influence'].fillna('Unknown')

In [95]:
df['Engagement_with_Ads'] = df['Engagement_with_Ads'].fillna('Unknown')

In [96]:
# checking for nulls
df.isnull().sum()

Customer_ID                              0
Age                                      0
Gender                                   0
Income_Level                             0
Marital_Status                           0
Education_Level                          0
Occupation                               0
Location                                 0
Purchase_Category                        0
Purchase_Amount                          0
Frequency_of_Purchase                    0
Purchase_Channel                         0
Brand_Loyalty                            0
Product_Rating                           0
Time_Spent_on_Product_Research(hours)    0
Social_Media_Influence                   0
Discount_Sensitivity                     0
Return_Rate                              0
Customer_Satisfaction                    0
Engagement_with_Ads                      0
Device_Used_for_Shopping                 0
Payment_Method                           0
Time_of_Purchase                         0
Discount_Used                            0
Customer_Loyalty_Program_Member          0
Purchase_Intent                          0
Shipping_Preference                      0
Time_to_Decision                         0
dtype: int64

In [97]:
# finding unique values in columns
df['Purchase_Amount'].unique()

array(['$333.80 ', '$222.22 ', '$426.22 ', '$101.31 ', '$211.70 ',
       '$487.95 ', '$486.40 ', '$218.06 ', '$201.96 ', '$418.83 ',
       '$389.70 ', '$238.93 ', '$61.22 ', '$79.81 ', '$58.51 ',
       '$109.29 ', '$356.45 ', '$236.99 ', '$454.39 ', '$490.75 ',
       '$463.07 ', '$56.74 ', '$371.32 ', '$461.00 ', '$253.37 ',
       '$136.53 ', '$489.05 ', '$81.91 ', '$135.80 ', '$382.24 ',
       '$354.70 ', '$433.82 ', '$282.13 ', '$454.38 ', '$138.88 ',
       '$52.34 ', '$338.20 ', '$263.15 ', '$371.58 ', '$353.40 ',
       '$329.41 ', '$54.46 ', '$257.12 ', '$293.04 ', '$110.40 ',
       '$76.27 ', '$392.08 ', '$51.22 ', '$227.57 ', '$378.87 ',
       '$423.92 ', '$111.24 ', '$299.31 ', '$169.28 ', '$449.13 ',
       '$427.48 ', '$171.61 ', '$240.28 ', '$310.17 ', '$166.00 ',
       '$362.01 ', '$348.50 ', '$395.97 ', '$474.99 ', '$286.43 ',
       '$333.32 ', '$223.47 ', '$414.83 ', '$391.38 ', '$368.40 ',
       '$328.36 ', '$424.39 ', '$197.12 ', '$454.57 ', '$298.38 ',
       '$111.70 ', '$373.69 ', '$354.87 ', '$214.48 ', '$399.58 ',
       '$380.99 ', '$79.00 ', '$113.88 ', '$121.57 ', '$215.54 ',
       '$87.03 ', '$111.75 ', '$136.20 ', '$439.31 ', '$194.93 ',
       '$377.67 ', '$108.61 ', '$366.77 ', '$178.04 ', '$461.09 ',
       '$211.16 ', '$421.95 ', '$378.59 ', '$268.93 ', '$444.87 ',
       '$160.82 ', '$494.18 ', '$177.05 ', '$450.66 ', '$164.27 ',
       '$346.36 ', '$377.77 ', '$163.41 ', '$467.58 ', '$247.51 ',
       '$365.10 ', '$485.42 ', '$250.54 ', '$163.14 ', '$162.31 ',
       '$328.21 ', '$268.59 ', '$257.37 ', '$205.49 ', '$407.91 ',
       '$254.73 ', '$397.78 ', '$305.29 ', '$257.86 ', '$393.45 ',
       '$58.49 ', '$226.48 ', '$469.22 ', '$335.32 ', '$184.74 ',
       '$442.18 ', '$427.10 ', '$326.82 ', '$98.97 ', '$77.65 ',
       '$85.61 ', '$164.79 ', '$235.46 ', '$245.14 ', '$439.91 ',
       '$309.22 ', '$146.59 ', '$298.73 ', '$395.01 ', '$371.19 ',
       '$193.76 ', '$424.27 ', '$496.11 ', '$341.91 ', '$127.66 ',
       '$227.47 ', '$342.99 ', '$306.48 ', '$308.54 ', '$124.17 ',
       '$78.00 ', '$393.03 ', '$102.09 ', '$426.21 ', '$140.31 ',
       '$413.70 ', '$348.63 ', '$91.27 ', '$359.94 ', '$138.20 ',
       '$196.33 ', '$249.24 ', '$129.10 ', '$112.69 ', '$267.85 ',
       '$205.36 ', '$79.10 ', '$256.63 ', '$409.98 ', '$291.60 ',
       '$101.70 ', '$369.73 ', '$71.00 ', '$280.05 ', '$54.71 ',
       '$119.51 ', '$57.50 ', '$225.05 ', '$441.15 ', '$481.21 ',
       '$102.96 ', '$331.57 ', '$101.29 ', '$143.52 ', '$276.48 ',
       '$352.87 ', '$228.68 ', '$301.39 ', '$473.50 ', '$72.80 ',
       '$171.72 ', '$467.50 ', '$209.79 ', '$150.33 ', '$98.63 ',
       '$193.30 ', '$145.02 ', '$294.99 ', '$305.45 ', '$432.42 ',
       '$227.58 ', '$160.89 ', '$139.10 ', '$268.28 ', '$64.49 ',
       '$80.17 ', '$277.52 ', '$53.67 ', '$323.39 ', '$98.02 ',
       '$231.26 ', '$382.49 ', '$255.42 ', '$423.23 ', '$276.08 ',
       '$333.56 ', '$129.82 ', '$278.78 ', '$112.55 ', '$142.02 ',
       '$481.84 ', '$165.01 ', '$56.85 ', '$182.89 ', '$373.01 ',
       '$220.77 ', '$291.09 ', '$414.06 ', '$408.51 ', '$103.40 ',
       '$67.92 ', '$354.16 ', '$276.77 ', '$190.25 ', '$203.49 ',
       '$263.50 ', '$247.30 ', '$50.71 ', '$131.85 ', '$459.39 ',
       '$383.33 ', '$212.08 ', '$370.73 ', '$319.66 ', '$373.05 ',
       '$393.78 ', '$245.04 ', '$111.27 ', '$93.29 ', '$156.50 ',
       '$290.11 ', '$355.28 ', '$73.74 ', '$170.35 ', '$123.70 ',
       '$201.60 ', '$116.14 ', '$483.38 ', '$418.62 ', '$139.83 ',
       '$54.17 ', '$437.59 ', '$113.57 ', '$305.54 ', '$339.12 ',
       '$323.40 ', '$472.61 ', '$68.02 ', '$199.44 ', '$250.73 ',
       '$372.49 ', '$186.85 ', '$73.32 ', '$214.59 ', '$467.32 ',
       '$475.65 ', '$161.38 ', '$249.78 ', '$149.88 ', '$347.09 ',
       '$345.49 ', '$297.24 ', '$494.34 ', '$443.52 ', '$457.18 ',
       '$407.88 ', '$448.68 ', '$255.96 ', '$146.07 ', '$311.90 ',
       '$301.60 ', '$297.45 ', '$157.26 ', '$239.46 ', '$240.82 ',
       '$302.07 ', '$367.99 ', '$359.75 ', '$204.44 ', '$228.93 ',
       '$355.31 ', '$334.67 ', '$182.72 ', '$260.22 ', '$454.93 ',
       '$325.42 ', '$351.36 ', '$333.63 ', '$469.90 ', '$207.52 ',
       '$125.89 ', '$170.77 ', '$63.91 ', '$340.55 ', '$378.14 ',
       '$235.84 ', '$164.44 ', '$455.81 ', '$298.32 ', '$351.71 ',
       '$393.48 ', '$241.72 ', '$280.20 ', '$347.99 ', '$343.81 ',
       '$105.29 ', '$483.66 ', '$69.41 ', '$207.18 ', '$454.15 ',
       '$113.01 ', '$419.13 ', '$183.86 ', '$53.87 ', '$427.82 ',
       '$282.82 ', '$215.31 ', '$183.66 ', '$198.73 ', '$265.72 ',
       '$138.35 ', '$441.87 ', '$178.29 ', '$77.08 ', '$266.90 ',
       '$269.84 ', '$334.22 ', '$474.56 ', '$360.91 ', '$373.49 ',
       '$462.30 ', '$332.67 ', '$235.39 ', '$269.78 ', '$498.33 ',
       '$182.94 ', '$121.70 ', '$489.27 ', '$303.93 ', '$302.74 ',
       '$157.21 ', '$159.45 ', '$312.93 ', '$65.68 ', '$61.86 ',
       '$343.77 ', '$107.21 ', '$148.98 ', '$490.41 ', '$461.34 ',
       '$338.89 ', '$222.63 ', '$71.95 ', '$264.52 ', '$414.80 ',
       '$50.79 ', '$264.30 ', '$122.46 ', '$238.01 ', '$490.34 ',
       '$245.98 ', '$390.83 ', '$158.84 ', '$439.24 ', '$92.43 ',
       '$333.15 ', '$64.22 ', '$290.53 ', '$251.80 ', '$480.52 ',
       '$461.71 ', '$288.34 ', '$194.08 ', '$198.45 ', '$216.45 ',
       '$358.72 ', '$367.56 ', '$88.78 ', '$465.85 ', '$262.61 ',
       '$91.24 ', '$425.69 ', '$446.11 ', '$490.11 ', '$403.57 ',
       '$442.15 ', '$78.71 ', '$491.51 ', '$457.39 ', '$178.61 ',
       '$492.51 ', '$411.40 ', '$96.52 ', '$65.45 ', '$255.86 ',
       '$74.69 ', '$430.75 ', '$370.17 ', '$384.26 ', '$128.01 ',
       '$301.40 ', '$397.25 ', '$96.18 ', '$390.44 ', '$61.50 ',
       '$234.44 ', '$318.84 ', '$327.32 ', '$475.64 ', '$68.59 ',
       '$133.04 ', '$196.63 ', '$473.96 ', '$472.52 ', '$335.80 ',
       '$85.57 ', '$108.50 ', '$172.50 ', '$212.80 ', '$324.41 ',
       '$342.39 ', '$446.86 ', '$463.15 ', '$122.99 ', '$322.40 ',
       '$73.19 ', '$279.08 ', '$478.85 ', '$86.39 ', '$192.35 ',
       '$235.32 ', '$212.63 ', '$246.63 ', '$228.47 ', '$339.32 ',
       '$327.05 ', '$334.45 ', '$366.16 ', '$481.78 ', '$131.48 ',
       '$402.86 ', '$333.18 ', '$73.23 ', '$450.47 ', '$175.74 ',
       '$182.60 ', '$497.80 ', '$171.17 ', '$425.82 ', '$210.58 ',
       '$199.64 ', '$162.22 ', '$401.75 ', '$365.88 ', '$58.29 ',
       '$66.86 ', '$279.34 ', '$358.50 ', '$360.92 ', '$374.36 ',
       '$435.37 ', '$459.30 ', '$426.89 ', '$365.37 ', '$487.25 ',
       '$187.22 ', '$396.82 ', '$246.74 ', '$128.74 ', '$339.63 ',
       '$223.58 ', '$446.92 ', '$175.65 ', '$491.49 ', '$88.40 ',
       '$430.90 ', '$435.23 ', '$218.65 ', '$207.66 ', '$141.09 ',
       '$142.70 ', '$64.09 ', '$126.26 ', '$195.05 ', '$432.84 ',
       '$404.12 ', '$438.26 ', '$233.02 ', '$273.41 ', '$338.96 ',
       '$75.91 ', '$425.21 ', '$268.80 ', '$170.71 ', '$444.05 ',
       '$255.10 ', '$236.44 ', '$201.69 ', '$390.51 ', '$442.29 ',
       '$89.60 ', '$166.74 ', '$299.28 ', '$404.57 ', '$344.81 ',
       '$217.84 ', '$445.34 ', '$151.73 ', '$123.73 ', '$370.54 ',
       '$152.87 ', '$295.75 ', '$358.11 ', '$63.60 ', '$419.53 ',
       '$491.92 ', '$114.44 ', '$388.82 ', '$58.32 ', '$464.76 ',
       '$116.92 ', '$396.76 ', '$393.35 ', '$114.03 ', '$109.97 ',
       '$310.23 ', '$383.13 ', '$434.86 ', '$489.10 ', '$288.15 ',
       '$105.87 ', '$163.40 ', '$422.92 ', '$361.48 ', '$270.82 ',
       '$372.26 ', '$208.59 ', '$163.22 ', '$364.98 ', '$142.43 ',
       '$449.72 ', '$241.56 ', '$249.73 ', '$437.30 ', '$277.29 ',
       '$445.93 ', '$242.79 ', '$393.09 ', '$167.61 ', '$324.22 ',
       '$159.30 ', '$324.39 ', '$198.89 ', '$287.18 ', '$162.24 ',
       '$92.97 ', '$144.39 ', '$209.62 ', '$411.62 ', '$388.01 ',
       '$50.78 ', '$159.82 ', '$79.43 ', '$131.36 ', '$299.75 ',
       '$319.38 ', '$476.48 ', '$301.01 ', '$378.71 ', '$314.32 ',
       '$210.90 ', '$218.26 ', '$424.18 ', '$162.95 ', '$209.68 ',
       '$97.97 ', '$192.51 ', '$151.81 ', '$239.28 ', '$306.17 ',
       '$370.38 ', '$346.58 ', '$292.64 ', '$102.91 ', '$283.78 ',
       '$51.44 ', '$405.70 ', '$311.74 ', '$293.43 ', '$418.51 ',
       '$85.03 ', '$164.94 ', '$89.32 ', '$388.26 ', '$106.69 ',
       '$301.16 ', '$61.71 ', '$83.33 ', '$411.81 ', '$114.93 ',
       '$438.42 ', '$189.97 ', '$227.03 ', '$278.49 ', '$120.56 ',
       '$320.94 ', '$217.72 ', '$222.61 ', '$102.73 ', '$426.87 ',
       '$473.28 ', '$446.03 ', '$287.95 ', '$132.52 ', '$379.20 ',
       '$447.53 ', '$138.44 ', '$440.62 ', '$145.98 ', '$405.66 ',
       '$419.98 ', '$260.14 ', '$368.91 ', '$100.32 ', '$107.82 ',
       '$83.88 ', '$81.25 ', '$125.80 ', '$197.90 ', '$299.09 ',
       '$79.30 ', '$55.73 ', '$256.44 ', '$337.21 ', '$494.97 ',
       '$238.58 ', '$131.90 ', '$403.03 ', '$338.60 ', '$365.38 ',
       '$433.99 ', '$495.95 ', '$356.22 ', '$156.40 ', '$454.36 ',
       '$486.07 ', '$427.86 ', '$235.13 ', '$361.27 ', '$195.83 ',
       '$340.31 ', '$489.67 ', '$482.50 ', '$433.14 ', '$375.70 ',
       '$381.30 ', '$210.21 ', '$408.81 ', '$118.65 ', '$166.45 ',
       '$385.32 ', '$293.99 ', '$161.41 ', '$130.92 ', '$468.60 ',
       '$237.57 ', '$395.18 ', '$427.94 ', '$81.23 ', '$257.43 ',
       '$305.73 ', '$249.82 ', '$332.79 ', '$78.90 ', '$122.55 ',
       '$307.61 ', '$152.33 ', '$465.07 ', '$498.23 ', '$491.18 ',
       '$149.42 ', '$82.13 ', '$425.18 ', '$176.12 ', '$70.30 ',
       '$319.39 ', '$113.51 ', '$492.74 ', '$143.80 ', '$158.54 ',
       '$213.39 ', '$127.18 ', '$476.63 ', '$56.02 ', '$398.97 ',
       '$53.45 ', '$61.19 ', '$471.31 ', '$179.19 ', '$294.61 ',
       '$375.45 ', '$83.50 ', '$109.88 ', '$182.54 ', '$465.48 ',
       '$224.52 ', '$281.37 ', '$125.68 ', '$178.21 ', '$483.23 ',
       '$415.30 ', '$85.52 ', '$422.31 ', '$70.42 ', '$437.40 ',
       '$207.11 ', '$349.00 ', '$330.27 ', '$410.29 ', '$400.86 ',
       '$225.12 ', '$273.48 ', '$363.84 ', '$302.60 ', '$317.09 ',
       '$193.32 ', '$282.24 ', '$154.19 ', '$84.15 ', '$214.69 ',
       '$61.21 ', '$462.48 ', '$449.18 ', '$314.36 ', '$367.70 ',
       '$229.97 ', '$226.53 ', '$218.32 ', '$132.67 ', '$416.96 ',
       '$459.51 ', '$487.96 ', '$150.11 ', '$218.87 ', '$437.06 ',
       '$122.58 ', '$195.07 ', '$190.06 ', '$485.76 ', '$242.57 ',
       '$303.13 ', '$136.10 ', '$249.02 ', '$466.74 ', '$229.30 ',
       '$450.52 ', '$246.44 ', '$93.52 ', '$137.75 ', '$78.64 ',
       '$214.82 ', '$57.39 ', '$363.91 ', '$304.79 ', '$363.98 ',
       '$249.60 ', '$345.04 ', '$59.15 ', '$461.81 ', '$280.88 ',
       '$283.70 ', '$411.95 ', '$476.11 ', '$399.24 ', '$90.79 ',
       '$229.56 ', '$160.47 ', '$104.74 ', '$399.95 ', '$337.33 ',
       '$204.83 ', '$193.94 ', '$460.37 ', '$297.29 ', '$389.47 ',
       '$370.05 ', '$462.24 ', '$472.53 ', '$407.29 ', '$135.65 ',
       '$352.35 ', '$441.73 ', '$105.95 ', '$351.54 ', '$321.26 ',
       '$421.50 ', '$253.29 ', '$217.62 ', '$226.04 ', '$52.79 ',
       '$385.08 ', '$181.10 ', '$246.41 ', '$140.87 ', '$151.25 ',
       '$171.52 ', '$399.56 ', '$173.46 ', '$332.14 ', '$247.05 ',
       '$354.92 ', '$195.46 ', '$474.03 ', '$106.96 ', '$371.84 ',
       '$461.16 ', '$497.75 ', '$492.83 ', '$295.54 ', '$494.81 ',
       '$160.25 ', '$198.36 ', '$82.39 ', '$290.56 ', '$206.79 ',
       '$401.43 ', '$188.17 ', '$83.21 ', '$54.74 ', '$371.12 ',
       '$293.64 ', '$185.83 ', '$117.13 ', '$52.24 ', '$446.69 ',
       '$216.84 ', '$75.27 ', '$308.87 ', '$169.77 ', '$289.08 ',
       '$74.09 ', '$201.53 ', '$244.60 ', '$320.50 ', '$91.63 ',
       '$251.93 ', '$477.35 ', '$86.63 ', '$474.42 ', '$429.24 ',
       '$470.38 ', '$495.80 ', '$129.64 ', '$473.77 ', '$130.84 ',
       '$436.54 ', '$264.01 ', '$58.27 ', '$190.76 ', '$105.76 ',
       '$254.29 ', '$435.52 ', '$235.49 ', '$161.34 ', '$167.67 ',
       '$96.68 ', '$234.58 ', '$156.48 ', '$489.66 ', '$161.85 ',
       '$204.47 ', '$315.03 ', '$330.36 ', '$456.83 ', '$236.05 ',
       '$289.28 ', '$483.77 ', '$64.50 ', '$436.57 ', '$364.48 ',
       '$221.88 ', '$278.21 ', '$344.43 ', '$326.08 ', '$437.97 ',
       '$391.87 ', '$333.41 ', '$251.54 ', '$292.08 ', '$204.29 ',
       '$258.68 ', '$258.02 ', '$181.87 ', '$81.18 ', '$382.94 ',
       '$402.82 ', '$497.76 ', '$263.57 ', '$422.09 ', '$411.83 ',
       '$242.65 ', '$298.93 ', '$191.21 ', '$136.67 ', '$324.11 ',
       '$105.64 ', '$295.60 ', '$485.77 ', '$173.43 ', '$462.96 ',
       '$203.13 ', '$443.11 ', '$254.83 ', '$336.89 ', '$337.17 ',
       '$197.70 ', '$336.96 ', '$489.81 ', '$455.55 ', '$266.61 ',
       '$460.88 ', '$361.40 ', '$51.86 ', '$310.16 ', '$300.73 ',
       '$356.87 ', '$82.37 ', '$372.60 ', '$78.32 ', '$71.72 ',
       '$241.10 ', '$96.86 ', '$276.25 ', '$318.45 ', '$117.03 ',
       '$476.42 ', '$392.27 ', '$207.24 ', '$141.63 ', '$244.47 ',
       '$251.63 ', '$431.78 ', '$303.09 ', '$341.24 ', '$211.39 ',
       '$379.21 ', '$309.53 ', '$359.45 ', '$479.62 ', '$208.60 ',
       '$180.21 ', '$362.30 ', '$159.53 ', '$149.52 ', '$206.32 ',
       '$308.58 ', '$91.34 ', '$455.44 ', '$468.16 ', '$463.67 ',
       '$69.78 ', '$453.37 ', '$106.15 ', '$378.47 '], dtype=object)

In [98]:
df['Time_of_Purchase'].unique()

array(['03-01-2024', '4/16/2024', '3/15/2024', '10-04-2024', '1/30/2024',
       '3/19/2024', '3/17/2024', '06-10-2024', '10-07-2024', '07-02-2024',
       '12/27/2024', '08-05-2024', '7/16/2024', '12/14/2024',
       '08-11-2024', '10/18/2024', '12-09-2024', '7/23/2024',
       '07-08-2024', '7/31/2024', '2/25/2024', '07-10-2024', '12/25/2024',
       '5/31/2024', '09-04-2024', '7/24/2024', '11/16/2024', '07-06-2024',
       '02-10-2024', '6/29/2024', '1/26/2024', '6/15/2024', '06-08-2024',
       '5/21/2024', '09-01-2024', '03-04-2024', '9/13/2024', '12-06-2024',
       '10/21/2024', '11/17/2024', '03-03-2024', '11/13/2024',
       '12/24/2024', '08-04-2024', '8/25/2024', '8/17/2024', '04-01-2024',
       '8/24/2024', '08-06-2024', '02-01-2024', '6/17/2024', '06-12-2024',
       '12/16/2024', '10/31/2024', '12-07-2024', '2/24/2024',
       '06-11-2024', '11/24/2024', '07-09-2024', '8/18/2024',
       '07-12-2024', '10-05-2024', '9/20/2024', '04-02-2024', '6/21/2024',
       '03-11-2024', '2/26/2024', '6/14/2024', '3/24/2024', '4/27/2024',
       '11-07-2024', '12-04-2024', '4/18/2024', '4/21/2024', '9/25/2024',
       '9/14/2024', '3/29/2024', '06-06-2024', '04-08-2024', '10-10-2024',
       '3/28/2024', '5/13/2024', '11/23/2024', '9/18/2024', '08-03-2024',
       '6/28/2024', '3/18/2024', '10/15/2024', '11/29/2024', '6/13/2024',
       '7/13/2024', '8/26/2024', '4/15/2024', '07-01-2024', '8/30/2024',
       '08-07-2024', '2/14/2024', '04-05-2024', '11-09-2024',
       '06-01-2024', '9/24/2024', '09-05-2024', '10-06-2024', '7/29/2024',
       '08-12-2024', '11/27/2024', '1/25/2024', '05-10-2024', '4/22/2024',
       '1/24/2024', '5/23/2024', '1/22/2024', '11-02-2024', '8/27/2024',
       '02-03-2024', '9/15/2024', '2/23/2024', '10/30/2024', '11/22/2024',
       '9/29/2024', '09-03-2024', '3/13/2024', '12/19/2024', '03-02-2024',
       '8/29/2024', '3/20/2024', '05-05-2024', '6/16/2024', '08-01-2024',
       '6/25/2024', '02-04-2024', '6/26/2024', '10/26/2024', '05-07-2024',
       '12-08-2024', '6/27/2024', '8/31/2024', '05-06-2024', '04-11-2024',
       '2/19/2024', '10-09-2024', '8/20/2024', '04-04-2024', '4/24/2024',
       '01-09-2024', '06-03-2024', '6/23/2024', '11/30/2024',
       '10/24/2024', '1/23/2024', '04-09-2024', '10/19/2024', '5/14/2024',
       '4/13/2024', '01-04-2024', '6/30/2024', '4/30/2024', '11-05-2024',
       '1/29/2024', '10/25/2024', '10/22/2024', '8/14/2024', '4/17/2024',
       '7/27/2024', '11/26/2024', '5/26/2024', '11-04-2024', '08-10-2024',
       '11/18/2024', '02-08-2024', '2/18/2024', '3/14/2024', '3/25/2024',
       '12-03-2024', '7/25/2024', '01-10-2024', '9/17/2024', '7/28/2024',
       '06-09-2024', '11/14/2024', '10-08-2024', '01-11-2024',
       '11-01-2024', '01-08-2024', '2/28/2024', '7/14/2024', '8/22/2024',
       '2/20/2024', '1/27/2024', '02-09-2024', '1/28/2024', '4/19/2024',
       '09-06-2024', '11-11-2024', '5/25/2024', '12/23/2024',
       '07-07-2024', '12/30/2024', '01-02-2024', '12-01-2024',
       '8/19/2024', '06-04-2024', '11/20/2024', '10/20/2024',
       '12-05-2024', '01-12-2024', '11/19/2024', '8/13/2024', '5/29/2024',
       '9/19/2024', '3/22/2024', '2/22/2024', '5/15/2024', '2/29/2024',
       '02-02-2024', '09-10-2024', '05-04-2024', '4/23/2024',
       '11/25/2024', '12-11-2024', '05-08-2024', '5/28/2024', '6/24/2024',
       '1/13/2024', '11/15/2024', '2/16/2024', '12/15/2024', '03-06-2024',
       '3/23/2024', '9/22/2024', '2/15/2024', '10/28/2024', '7/26/2024',
       '07-05-2024', '10/27/2024', '02-06-2024', '7/18/2024',
       '01-06-2024', '12/18/2024', '04-10-2024', '10/29/2024',
       '9/21/2024', '11-12-2024', '04-06-2024', '07-11-2024',
       '08-08-2024', '4/20/2024', '7/19/2024', '5/17/2024', '4/29/2024',
       '4/25/2024', '10-03-2024', '4/28/2024', '09-09-2024', '6/18/2024',
       '7/17/2024', '1/21/2024', '09-12-2024', '2/13/2024', '11-10-2024',
       '3/27/2024', '5/20/2024', '2/27/2024', '6/19/2024', '02-05-2024',
       '07-04-2024', '10/17/2024', '11/21/2024', '4/14/2024',
       '09-11-2024', '03-10-2024', '1/14/2024', '1/16/2024', '12/29/2024',
       '3/31/2024', '12/17/2024', '05-11-2024', '9/28/2024', '11/28/2024',
       '1/20/2024', '10-11-2024', '10-12-2024', '1/15/2024', '8/23/2024',
       '3/16/2024', '7/21/2024', '11-08-2024', '3/26/2024', '08-09-2024',
       '2/17/2024', '1/17/2024', '05-01-2024', '09-08-2024', '10/16/2024',
       '07-03-2024', '12/20/2024', '10/13/2024', '9/16/2024', '3/21/2024',
       '5/24/2024', '5/18/2024', '5/19/2024', '8/16/2024', '12/21/2024',
       '9/27/2024', '04-07-2024', '7/20/2024', '09-07-2024', '1/19/2024',
       '01-03-2024', '9/26/2024', '01-05-2024', '8/21/2024', '10-01-2024',
       '09-02-2024', '11-03-2024', '08-02-2024', '03-09-2024',
       '7/22/2024', '01-07-2024', '5/27/2024', '06-07-2024', '03-07-2024',
       '01-01-2024', '02-11-2024', '6/20/2024', '05-02-2024',
       '12/26/2024', '12/13/2024', '03-12-2024', '12-12-2024',
       '12/28/2024', '5/30/2024', '1/18/2024', '8/15/2024', '1/31/2024',
       '5/16/2024', '03-08-2024', '12/22/2024', '04-12-2024', '7/30/2024',
       '05-12-2024', '9/30/2024', '3/30/2024'], dtype=object)

In [99]:
df['Customer_Loyalty_Program_Member'].unique()

array([False,  True])

In [100]:
df['Discount_Used'].unique()

array([ True, False])

In [101]:
df['Product_Rating'].unique()

array([5, 1, 4, 3, 2], dtype=int64)

In [102]:
df['Customer_Satisfaction'].unique()

array([ 7,  5,  1, 10,  3,  9,  2,  4,  8,  6], dtype=int64)

In [103]:
df['Return_Rate'].unique()

array([1, 0, 2], dtype=int64)

In [104]:
# renaming the column Time_of_Purchase to Date_of_Purchase as the data consists of dates
df.rename(columns={'Time_of_Purchase': 'Date_of_Purchase'}, inplace=True)

In [105]:
df

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Date_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Évry,Gardening & Outdoors,$333.80,...,7,Unknown,Tablet,Credit Card,03-01-2024,True,False,Need-based,No Preference,2
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,$222.22,...,5,High,Tablet,PayPal,4/16/2024,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,$426.22,...,7,Low,Smartphone,Debit Card,3/15/2024,True,True,Impulsive,No Preference,3
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Wiwilí,Home Appliances,$101.31,...,1,Unknown,Smartphone,Other,10-04-2024,True,True,Need-based,Express,10
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,$211.70,...,10,Unknown,Smartphone,Debit Card,1/30/2024,False,False,Wants-based,No Preference,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,20-562-2569,44,Female,High,Divorced,Bachelor's,High,Aramayuan,Mobile Accessories,$463.67,...,4,Unknown,Tablet,PayPal,07-07-2024,True,False,Need-based,Standard,5
996,41-366-4205,50,Female,High,Single,High School,Middle,Paquera,Gardening & Outdoors,$69.78,...,6,Low,Tablet,Cash,3/28/2024,True,False,Wants-based,No Preference,9
997,77-241-7621,26,Male,High,Married,Bachelor's,High,Warudoyong,Food & Beverages,$453.37,...,6,High,Desktop,Credit Card,03-11-2024,True,True,Wants-based,Express,9
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Béziers,Baby Products,$106.15,...,5,Medium,Desktop,Cash,3/30/2024,True,True,Impulsive,Standard,8
999,48-203-9118,21,Female,Middle,Single,High School,High,Dongzhou,Health Care,$378.47,...,10,Low,Tablet,Other,12-08-2024,False,False,Planned,Express,2

### Fixing inconsistent datatypes and formatting

In [118]:
# fixing inconsistent datatypes
# fixing Purchase_Amount - converting to float
# Remove $ and , and whitespace, then convert to float
df['Purchase_Amount'] = df['Purchase_Amount'].astype(str)
df['Purchase_Amount'] = df['Purchase_Amount'].str.replace('$', '', regex=False)
df['Purchase_Amount'] = df['Purchase_Amount'].str.replace(',', '', regex=False)
df['Purchase_Amount'] = df['Purchase_Amount'].str.strip()
df['Purchase_Amount'] = df['Purchase_Amount'].astype(float).round(0)
# formatting values to 2 decimal places
df['Purchase_Amount'] = df['Purchase_Amount'].astype(int)

In [119]:
df['Purchase_Amount'].unique()

array([334, 222, 426, 101, 212, 488, 486, 218, 202, 419, 390, 239,  61,
        80,  58, 109, 356, 237, 454, 491, 463,  57, 371, 461, 253, 136,
       489,  82, 382, 355, 434, 282, 139,  52, 338, 263, 372, 353, 329,
        54, 257, 293, 110,  76, 392,  51, 228, 379, 424, 111, 299, 169,
       449, 428, 172, 240, 310, 166, 362, 348, 396, 475, 286, 333, 224,
       415, 391, 368, 328, 197, 455, 298, 112, 374, 214, 400, 381,  79,
       114, 122, 216,  87, 439, 195, 378, 367, 178, 211, 422, 269, 445,
       161, 494, 177, 451, 164, 346, 163, 468, 248, 365, 485, 250, 162,
       206, 408, 255, 398, 305, 258, 393, 226, 469, 335, 185, 442, 427,
       327,  99,  78,  86, 165, 236, 245, 440, 309, 147, 395, 194, 496,
       342, 128, 343, 306, 308, 124, 102, 140, 414, 349,  91, 360, 138,
       196, 249, 129, 113, 268, 205, 410, 292, 370,  71, 280,  55, 120,
       225, 441, 481, 103, 332, 144, 276, 229, 301, 474,  73, 210, 150,
       193, 145, 295, 432,  64, 278, 323,  98, 231, 423, 130, 279, 142,
       482, 183, 373, 221, 291,  68, 354, 277, 190, 204, 264, 247, 132,
       459, 383, 320, 394,  93, 156, 290,  74, 170, 116, 483, 438, 339,
       473, 199, 251, 187, 215, 467, 476, 347, 297, 444, 457, 256, 146,
       312, 302, 157, 241, 260, 325, 351, 470, 208, 126, 171, 341, 456,
       352, 242, 344, 105, 484,  69, 207, 184, 283, 266,  77, 267, 270,
       361, 462, 235, 498, 304, 303, 159, 313,  66,  62, 107, 149, 490,
       223,  72, 238, 246,  92, 252, 480, 288, 198, 359,  89, 466, 446,
       404, 492, 179, 411,  96,  65,  75, 431, 384, 397, 234, 319, 133,
       472, 336, 108, 213, 324, 447, 123, 322, 479, 192, 366, 403, 450,
       176, 200, 402,  67, 358, 435, 487, 340,  88, 219, 141, 143, 433,
       233, 273, 425,  90, 167, 405, 345, 152, 153, 296, 420, 389, 465,
       117, 106, 271, 209, 437, 243, 168, 287, 412, 388, 160, 131, 300,
       314, 284, 406, 418,  85,  83, 115, 227, 121, 321, 448, 369, 100,
        84,  81,  56, 337, 495, 376, 409, 119, 385, 294,  70, 493, 158,
       127, 477, 399,  53, 471, 375, 182, 281, 330, 401, 274, 364, 317,
       154, 230, 417, 460,  94,  59, 407, 181, 151, 174, 188, 186, 217,
       289, 429, 436, 191, 254,  97, 315, 326, 259, 137, 173, 203, 443,
       357, 318, 244, 180, 464, 453])

In [120]:
df['Purchase_Amount'].dtype

dtype('int32')

In [121]:
# fixing Date_of_Purchase - formatting all values to MM/DD/YYYY as string
# formatting the date to MM/DD/YYYY
df['Date_of_Purchase'] = df['Date_of_Purchase'].astype(str)
df['Date_of_Purchase'] = df['Date_of_Purchase'].str.strip()
df['Date_of_Purchase'] = pd.to_datetime(df['Date_of_Purchase'], errors='coerce')

In [122]:
df['Date_of_Purchase'].unique()

<DatetimeArray>
['2024-03-01 00:00:00',                 'NaT', '2024-10-04 00:00:00',
 '2024-06-10 00:00:00', '2024-10-07 00:00:00', '2024-07-02 00:00:00',
 '2024-08-05 00:00:00', '2024-08-11 00:00:00', '2024-12-09 00:00:00',
 '2024-07-08 00:00:00',
 ...
 '2024-06-07 00:00:00', '2024-03-07 00:00:00', '2024-01-01 00:00:00',
 '2024-02-11 00:00:00', '2024-05-02 00:00:00', '2024-03-12 00:00:00',
 '2024-12-12 00:00:00', '2024-03-08 00:00:00', '2024-04-12 00:00:00',
 '2024-05-12 00:00:00']
Length: 133, dtype: datetime64[ns]

In [123]:
df['Date_of_Purchase'].isnull().sum()

618

In [124]:
df[df['Date_of_Purchase'].isna()]

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Date_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,222,...,5,High,Tablet,PayPal,NaT,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,426,...,7,Low,Smartphone,Debit Card,NaT,True,True,Impulsive,No Preference,3
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,212,...,10,Unknown,Smartphone,Debit Card,NaT,False,False,Wants-based,No Preference,4
5,82-561-4233,45,Male,Middle,Married,Master's,High,Boro Utara,Office Supplies,488,...,3,Unknown,Tablet,Debit Card,NaT,False,False,Planned,No Preference,7
6,90-144-9193,21,Female,Middle,Divorced,High School,Middle,Liren,Furniture,486,...,9,Low,Desktop,Debit Card,NaT,True,False,Need-based,Express,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,02-055-8248,25,Female,High,Divorced,Bachelor's,High,Martanesh,Health Supplements,160,...,3,Low,Desktop,Cash,NaT,True,True,Impulsive,Express,7
991,48-271-1908,40,Bigender,High,Single,Bachelor's,High,Oke Ila,Baby Products,309,...,7,Medium,Smartphone,Debit Card,NaT,False,True,Need-based,Express,12
994,08-185-6608,32,Female,High,Divorced,Master's,Middle,Podbrdo,Baby Products,468,...,5,High,Desktop,Credit Card,NaT,False,False,Planned,Standard,2
996,41-366-4205,50,Female,High,Single,High School,Middle,Paquera,Gardening & Outdoors,70,...,6,Low,Tablet,Cash,NaT,True,False,Wants-based,No Preference,9
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Béziers,Baby Products,106,...,5,Medium,Desktop,Cash,NaT,True,True,Impulsive,Standard,8

In [125]:
# Filling missing dates with a default date 2000-01-01
df['Date_of_Purchase'] = df['Date_of_Purchase'].fillna(pd.Timestamp('1990-01-01'))

In [126]:
df['Date_of_Purchase'].unique()

<DatetimeArray>
['2024-03-01 00:00:00', '1990-01-01 00:00:00', '2024-10-04 00:00:00',
 '2024-06-10 00:00:00', '2024-10-07 00:00:00', '2024-07-02 00:00:00',
 '2024-08-05 00:00:00', '2024-08-11 00:00:00', '2024-12-09 00:00:00',
 '2024-07-08 00:00:00',
 ...
 '2024-06-07 00:00:00', '2024-03-07 00:00:00', '2024-01-01 00:00:00',
 '2024-02-11 00:00:00', '2024-05-02 00:00:00', '2024-03-12 00:00:00',
 '2024-12-12 00:00:00', '2024-03-08 00:00:00', '2024-04-12 00:00:00',
 '2024-05-12 00:00:00']
Length: 133, dtype: datetime64[ns]

In [127]:
df['Date_of_Purchase'].isnull().sum()

0

In [128]:
# keeping only the date part
df['Date_of_Purchase'] = df['Date_of_Purchase'].dt.date
df['Date_of_Purchase'].unique()

array([datetime.date(2024, 3, 1), datetime.date(1990, 1, 1),
       datetime.date(2024, 10, 4), datetime.date(2024, 6, 10),
       datetime.date(2024, 10, 7), datetime.date(2024, 7, 2),
       datetime.date(2024, 8, 5), datetime.date(2024, 8, 11),
       datetime.date(2024, 12, 9), datetime.date(2024, 7, 8),
       datetime.date(2024, 7, 10), datetime.date(2024, 9, 4),
       datetime.date(2024, 7, 6), datetime.date(2024, 2, 10),
       datetime.date(2024, 6, 8), datetime.date(2024, 9, 1),
       datetime.date(2024, 3, 4), datetime.date(2024, 12, 6),
       datetime.date(2024, 3, 3), datetime.date(2024, 8, 4),
       datetime.date(2024, 4, 1), datetime.date(2024, 8, 6),
       datetime.date(2024, 2, 1), datetime.date(2024, 6, 12),
       datetime.date(2024, 12, 7), datetime.date(2024, 6, 11),
       datetime.date(2024, 7, 9), datetime.date(2024, 7, 12),
       datetime.date(2024, 10, 5), datetime.date(2024, 4, 2),
       datetime.date(2024, 3, 11), datetime.date(2024, 11, 7),
       datetime.date(2024, 12, 4), datetime.date(2024, 6, 6),
       datetime.date(2024, 4, 8), datetime.date(2024, 10, 10),
       datetime.date(2024, 8, 3), datetime.date(2024, 7, 1),
       datetime.date(2024, 8, 7), datetime.date(2024, 4, 5),
       datetime.date(2024, 11, 9), datetime.date(2024, 6, 1),
       datetime.date(2024, 9, 5), datetime.date(2024, 10, 6),
       datetime.date(2024, 8, 12), datetime.date(2024, 5, 10),
       datetime.date(2024, 11, 2), datetime.date(2024, 2, 3),
       datetime.date(2024, 9, 3), datetime.date(2024, 3, 2),
       datetime.date(2024, 5, 5), datetime.date(2024, 8, 1),
       datetime.date(2024, 2, 4), datetime.date(2024, 5, 7),
       datetime.date(2024, 12, 8), datetime.date(2024, 5, 6),
       datetime.date(2024, 4, 11), datetime.date(2024, 10, 9),
       datetime.date(2024, 4, 4), datetime.date(2024, 1, 9),
       datetime.date(2024, 6, 3), datetime.date(2024, 4, 9),
       datetime.date(2024, 1, 4), datetime.date(2024, 11, 5),
       datetime.date(2024, 11, 4), datetime.date(2024, 8, 10),
       datetime.date(2024, 2, 8), datetime.date(2024, 12, 3),
       datetime.date(2024, 1, 10), datetime.date(2024, 6, 9),
       datetime.date(2024, 10, 8), datetime.date(2024, 1, 11),
       datetime.date(2024, 11, 1), datetime.date(2024, 1, 8),
       datetime.date(2024, 2, 9), datetime.date(2024, 9, 6),
       datetime.date(2024, 11, 11), datetime.date(2024, 7, 7),
       datetime.date(2024, 1, 2), datetime.date(2024, 12, 1),
       datetime.date(2024, 6, 4), datetime.date(2024, 12, 5),
       datetime.date(2024, 1, 12), datetime.date(2024, 2, 2),
       datetime.date(2024, 9, 10), datetime.date(2024, 5, 4),
       datetime.date(2024, 12, 11), datetime.date(2024, 5, 8),
       datetime.date(2024, 3, 6), datetime.date(2024, 7, 5),
       datetime.date(2024, 2, 6), datetime.date(2024, 1, 6),
       datetime.date(2024, 4, 10), datetime.date(2024, 11, 12),
       datetime.date(2024, 4, 6), datetime.date(2024, 7, 11),
       datetime.date(2024, 8, 8), datetime.date(2024, 10, 3),
       datetime.date(2024, 9, 9), datetime.date(2024, 9, 12),
       datetime.date(2024, 11, 10), datetime.date(2024, 2, 5),
       datetime.date(2024, 7, 4), datetime.date(2024, 9, 11),
       datetime.date(2024, 3, 10), datetime.date(2024, 5, 11),
       datetime.date(2024, 10, 11), datetime.date(2024, 10, 12),
       datetime.date(2024, 11, 8), datetime.date(2024, 8, 9),
       datetime.date(2024, 5, 1), datetime.date(2024, 9, 8),
       datetime.date(2024, 7, 3), datetime.date(2024, 4, 7),
       datetime.date(2024, 9, 7), datetime.date(2024, 1, 3),
       datetime.date(2024, 1, 5), datetime.date(2024, 10, 1),
       datetime.date(2024, 9, 2), datetime.date(2024, 11, 3),
       datetime.date(2024, 8, 2), datetime.date(2024, 3, 9),
       datetime.date(2024, 1, 7), datetime.date(2024, 6, 7),
       datetime.date(2024, 3, 7), datetime.date(2024, 1, 1),
       datetime.date(2024, 2, 11), datetime.date(2024, 5, 2),
       datetime.date(2024, 3, 12), datetime.date(2024, 12, 12),
       datetime.date(2024, 3, 8), datetime.date(2024, 4, 12),
       datetime.date(2024, 5, 12)], dtype=object)

In [129]:
df['Date_of_Purchase']

0      2024-03-01
1      1990-01-01
2      1990-01-01
3      2024-10-04
4      1990-01-01
          ...
995    2024-07-07
996    1990-01-01
997    2024-03-11
998    1990-01-01
999    2024-12-08
Name: Date_of_Purchase, Length: 1000, dtype: object

In [130]:
df.isnull().sum()

Customer_ID                              0
Age                                      0
Gender                                   0
Income_Level                             0
Marital_Status                           0
Education_Level                          0
Occupation                               0
Location                                 0
Purchase_Category                        0
Purchase_Amount                          0
Frequency_of_Purchase                    0
Purchase_Channel                         0
Brand_Loyalty                            0
Product_Rating                           0
Time_Spent_on_Product_Research(hours)    0
Social_Media_Influence                   0
Discount_Sensitivity                     0
Return_Rate                              0
Customer_Satisfaction                    0
Engagement_with_Ads                      0
Device_Used_for_Shopping                 0
Payment_Method                           0
Date_of_Purchase                         0
Discount_Used                            0
Customer_Loyalty_Program_Member          0
Purchase_Intent                          0
Shipping_Preference                      0
Time_to_Decision                         0
dtype: int64

In [131]:
df['Purchase_Category'].unique()

array(['Gardening & Outdoors', 'Food & Beverages', 'Office Supplies',
       'Home Appliances', 'Furniture', 'Books', 'Sports & Outdoors',
       'Mobile Accessories', 'Luxury Goods', 'Animal Feed', 'Health Care',
       'Hotels', 'Packages)', 'Electronics', 'Software & Apps',
       'Baby Products', 'Toys & Games', 'Arts & Crafts',
       'Health Supplements', 'Groceries', 'Clothing',
       'Beauty & Personal Care', 'Travel & Leisure (Flights',
       'Jewelry & Accessories'], dtype=object)

In [132]:
# removing unwanted special characters '(' ,')' from Purchase_Category column
df['Purchase_Category'] = df['Purchase_Category'].str.replace(r'[()]', '', regex=True)

In [133]:
df['Purchase_Category'].unique()

array(['Gardening & Outdoors', 'Food & Beverages', 'Office Supplies',
       'Home Appliances', 'Furniture', 'Books', 'Sports & Outdoors',
       'Mobile Accessories', 'Luxury Goods', 'Animal Feed', 'Health Care',
       'Hotels', 'Packages', 'Electronics', 'Software & Apps',
       'Baby Products', 'Toys & Games', 'Arts & Crafts',
       'Health Supplements', 'Groceries', 'Clothing',
       'Beauty & Personal Care', 'Travel & Leisure Flights',
       'Jewelry & Accessories'], dtype=object)

In [135]:
# replacing True and False values in columns Discount_Used and Customer_Loyalty_Program_Member to "Yes" and "No"
df['Discount_Used'] = df['Discount_Used'].map({True: 'Yes', False: 'No'})
df['Customer_Loyalty_Program_Member'] = df['Customer_Loyalty_Program_Member'].map({True: 'Yes', False: 'No'})

In [136]:
df['Discount_Used'].unique()

array(['Yes', 'No'], dtype=object)

In [137]:
df['Customer_Loyalty_Program_Member'].unique()

array(['No', 'Yes'], dtype=object)

In [138]:
# removing accents from column Location
import unicodedata

def remove_accents(text):
    if isinstance(text, str):
        return ''.join(
            c for c in unicodedata.normalize('NFKD', text)
            if not unicodedata.combining(c)
        )
    return text

df['Location'] = df['Location'].apply(remove_accents)

In [139]:
df['Location'].unique()

array(['Evry', 'Huocheng', 'Huzhen', 'Wiwili', 'Nara', 'Boro Utara',
       'Liren', 'Taocheng', 'Grabo', 'Pryamitsyno', 'Punta Gorda', 'Gyor',
       'Gaosheng', 'Rokytne', 'Alameda', 'Dhankuta', 'Jindong', 'Ngeru',
       'White Rock', 'Monastyrshchina', 'Pangkalanbunut', 'Lederaba',
       'Lugo', 'Sao Roque', 'Bani Khaddash', 'Montpellier', 'Nesovice',
       'Pasirhuni', 'Glendale', 'Tala', 'Marseille', 'Nasielsk',
       'Paris 06', 'Bronnitsy', 'Inayauan', 'Qianjin', 'Bagahanlad',
       'Rzewnie', 'Strabychovo', 'Hongqi', 'Oeoh', 'Topol’noye',
       'Kovarov', 'Majdal Bani Fadil', 'Delta del Tigre',
       'Santa Cruz La Laguna', 'Manchester', 'Norrkoping', 'Sosno',
       'Pella', 'Namur', 'Benevides', 'Qinghaihu', 'Alfeizerao',
       'Prostredni Becva', 'Oeiras', 'Kythnos', 'Rizal', 'Fullerton',
       'Huaidao', 'Bilice', 'Isla Verde', 'Hunkuyi', 'Shiree',
       'Strezhevoy', 'Longxing', 'Jesus Menendez', 'Hongguang', 'Pilaya',
       'Camp Ithier', 'Holboo', 'Luxi', 'Ostashkov', 'Hongshanzui',
       'Tocoa', 'Bayan Tuohai', 'Parumasan', 'Karpogory', 'Shahzadpur',
       'Muaratiga', 'Gjegjan', 'Creteil', 'Pameungpeuk', 'Junshan',
       'Lewotola', 'Laocheng', 'Guacari', 'Sancang', 'Ndewel',
       'San Patricio', 'Fengtai', 'Dawran ad Daydah', 'Magdalena',
       'Lesnica', 'Hinlayagan Ilaud', 'Forshaga', 'Rakszawa', 'Fengjiang',
       'Jiangcun', 'Okuchi', 'Novoukrainskiy', 'Acobambilla', 'Kyonju',
       'Pomar', 'Zaltan', 'Trelaze', 'Messina', 'Mragowo', 'Ngawi',
       'Oslo', 'Dobrica', 'La Roche-sur-Yon', 'Point Pedro', 'Tianbao',
       'Puqian', 'Binalbagan', 'Tessalit', 'Nikolayevsk', 'Dashuipo',
       'Tyn nad Vltavou', 'Kaum Kaler', 'Gandapura', 'Kawangkoan',
       'Mondorf-les-Bains', 'Manwakh', 'Karlstad', 'Obong', 'Kolsko',
       'Dalbandin', 'Shazi', 'Hachioji', 'Jolo', 'Pedra Azul',
       'Gustavsberg', 'La Mohammedia', 'Florida', 'Zhongcheng',
       'Goiatuba', 'Krajan Kidul Rojopolo', 'Metchosin', 'Staritsa',
       'Benito Juarez', 'Mani', 'Vitali', 'Mizque', 'Zgornje Pirnice',
       'Cipolletti', 'Solleftea', 'Klonowa', 'Suvorov', 'Dragash',
       'Freiburg im Breisgau', 'Macau', 'Pancas', 'Dayapan',
       'Gordon Town', 'Proptisht', 'Kamal', 'Kouvola', 'Zhongdong',
       'Betong', 'Jinping', 'Mgachi', 'Lameira', 'Medicine Hat',
       'Yenikoy', 'Peer', 'Belusovka', 'Houston', 'Hengdian', 'Shuigou',
       'Xingxi', 'Dhibin', 'Chengguan', 'Paris 09', 'Rozhdestveno',
       'Porangatu', 'Shalkar', 'Quimbaya', 'Narok', 'Gimcheon',
       'Visaginas', 'Shostka', 'Pukekohe East', 'Blokdesa Situgede',
       'Yueyang', 'Liutan', 'Huanggang', 'Baturite', 'Mi’ersi', 'Xuedian',
       'Yuyapichis', 'Shiroishi', 'Kobe', 'Gulou', 'Jilin', 'Balboa',
       'Cipari', 'Orlando', 'Torsby', 'San Pablo', 'Daszewice',
       'Villa Concepcion del Tio', 'Hacienda La Calera', 'Puerto Lopez',
       'Xinchengzi', 'Tecpan Guatemala', 'Araci', 'Duyure', 'Huangni',
       'Kuala Lumpur', 'Seleus', 'Monrovia', 'Kristinehamn',
       'Huancabamba', 'San Jose Acatempa', 'Quebrada Canoa', 'Moate',
       'Kubangwaru', 'Марино', 'Xinquan', 'Providence', 'Autun', 'Shilin',
       'Paris 17', 'Stoczek Łukowski', 'Ormstown', 'Ponte', 'Boshkengash',
       'Đa Teh', 'Rada‘', 'Sinarwangi', 'Dagup', 'Ełk', 'Moju', 'Vilia',
       'Prince Rupert', 'Jiangmen', 'Alung', 'Osorno', 'Labo',
       'Dakingari', 'Selasari', 'Besko', 'Aubergenville', 'Sula',
       'Valongo', 'Al Khankah', 'Mertola', 'Rates', 'Anyang', 'Nymburk',
       'Tafo', 'Cibaregbeg', 'Wang Yang', 'Liangnong', 'Hengshi',
       'Kandangan', 'Naranjal', 'Abiko', 'Longhuashan', 'Zhovkva',
       'Lebak', 'Gereshk', 'Yonghe', 'Dabai', 'Moutnice', 'Qiryat Yam',
       'Pirane', 'Colima', 'Marshintsy', 'Halinow', 'Hallsberg',
       'Celso Ramos', 'White River', 'Taishihe', 'Shanghu', 'Brandsen',
       'Ranot', 'Saint-Jouan-des-Guerets', 'Da’an', 'Kisovec', 'Abdanan',
       'Dafeng', 'Campo Maior', 'Savedalen', 'Brikcha', 'Xidianzi',
       'La Union', 'Kliteh', 'Beja', 'Ferreira do Alentejo', 'Gegernoong',
       'La Montanita', 'Sarishabari', 'Mangge', 'Chabarovice', 'Yangping',
       'Berezna', 'Vidual', 'Hultsfred', 'Nikaia', 'Macayug', 'Mahanoro',
       'Mozdok', 'Hoolt', 'San Luis', 'Pergan', 'Kanoni', 'Gromadka',
       'Payapa', 'Rat Burana', 'Trhove Sviny', 'Kiev', 'Lomintsevskiy',
       'Monchegorsk', 'Olavarria', 'Jianshan', 'Shreveport', 'Pingzhuang',
       'Merlo', 'Ziniare', 'Zdunska Wola', 'Mount Ayliff', 'Pirgaaj',
       'Zbraslavice', 'Xilu', 'Bamut', 'La Tour-du-Pin', 'Pader Palwo',
       'Maurisu', 'Gorzyce', 'Qingyun', 'Jiuxian', 'Ndungu',
       'Emiliano Zapata', 'Spasskoye', 'Gierłoz', 'Sobue', 'High Point',
       'Qiankeng', 'Pandean', 'Phong Đien', 'Mirow', 'Franceville',
       'Bordeaux', 'Zamora', 'Jubaoshan', 'Shadegan', 'Gueltat Zemmour',
       'Mosal’sk', 'Kokstad', 'Malasin', 'Huaqiu', 'Loket',
       'Santa Maria do Souto', 'Yanshang', 'Tempuran', 'Karafao',
       'Sao Cristovao', 'Buensuseso', 'Blantyre', 'Kozel’shchyna',
       'Cibuah', 'Cockburn Town', 'Maslog', 'Faqqu‘ah', 'Yelyzavethradka',
       'Jackson', 'Itaguai', 'Ftelia', 'Kiambu', 'Xiber-Murrize', 'Xudat',
       'Yaodu', 'Saint-Gratien', 'Totora', 'Goteborg', 'Caslav',
       'Rudnogorsk', 'Pindiga', 'Adela', 'Krajan Baru', 'Jinqiao',
       'Barg-e Matal', 'Argenteuil', 'Daying', 'Ngrejo', 'Xieba', 'Sigli',
       'Aristobulo del Valle', 'Cane', 'Podhum', 'Vilar', 'Portela',
       'Arendal', 'Nabinagar', 'La Ravoire', 'Dostoyevka', 'Liuzhou',
       'Sao Mateus do Maranhao', 'Rumbek', 'Cigedang', 'Muaralabuh',
       'Chełmiec', 'Santa Marta', 'Brando', 'Liangshuihe', 'Cimara',
       'Sanxing', 'Linao', 'Bairan', 'Abaetetuba', 'Pasirjaya', 'Acheng',
       'Huakoulongtan', 'Burgastai', 'Chavarria', 'Demuk', 'Sertolovo',
       'Jixian', 'Deqing', 'Sala', 'Dłutow', 'Regimin', 'Semiletka',
       'Dayr Sharaf', 'Adani', 'Rakhiv', "Ma'an", 'Navoiy',
       'Sishilichengzi', 'Tigaherang', 'Villa Dolores', 'Poa', 'Shibushi',
       'Tilburg', 'Ugra', 'Montreuil', 'Garibaldi', 'Tiang', 'Mouquim',
       'Montecristi', 'Prince Albert', 'Zajecov', 'Liushun', 'Sancha',
       'Damnoen Saduak', 'Cianorte', 'Liuzuo', 'Kashmar', '‘Arad',
       'Lenart v Slov. Goricah', 'Bigaa', 'Guadalupe', 'Xiaruyue',
       'Gweedore', 'Przelewice', 'Dalumangcob', 'Cravo Norte', 'Monteria',
       'Mikun’', 'Samamiya', 'Tanahmerah', 'Orebro', 'Kefar Yona',
       'Pasto', 'Huangtan', 'Il’inskiy', 'Ugljevik', 'Na Chaluai',
       'Marolambo', 'Cali', 'Tamana', 'Miyazu', 'Gryfow Slaski',
       'Pinagsibaan', 'Jardin', 'Aguilares', 'Muslyumovo', 'Taiyuan',
       'Chatturat', 'Paisha', 'Kadugadung', 'Paris 15', 'Dualing',
       'Adelaide', 'Pingshi', 'Renshan', 'Sobinka', 'Narol', 'Fresno',
       'Vabalninkas', 'Jambuwerkrajan', 'Ozubulu', 'Nakhchivan',
       'Curumani', 'Praia', 'Pallisa', 'San Pascual',
       '‘Asirah ash Shamaliyah', 'Dom Pedrito', 'San Sebastian de Yali',
       'Shchekino', 'Turkestan', 'Rzeczenica', 'Perzow',
       'Sabon Gari-Nangere', 'Hengshui', 'Nantes', 'Tamorot', 'Sinchao',
       'Anding', 'Rukem', 'Bogovarovo', 'Valbo', 'Jaguaruana',
       'Taqchah Khanah', 'Lipovci', 'Panagyurishte', 'Thi Tran Than Uyen',
       'Clichy', 'Kłoczew', 'Zhukovo', 'Nykoping', 'Jianmin',
       'Bucaramanga', 'Kudanding', 'Kyoto', 'Saraburi', 'Negeriagung',
       'Latacunga', 'Guanzhou', 'Tabuc Pontevedra', 'Kabale', 'Malveira',
       'Veiga', 'Jagistay', 'Yuannan', 'Mount Darwin',
       'Qal‘eh-ye Khvajeh', 'Al Qararah', 'Fandriana', 'Carregueira',
       'Lincheng', 'Semenivka', 'Ylane', 'Cendagah', 'Firuzabad',
       'Trondheim', 'Yakovlevo', 'Katav-Ivanovsk', 'Voznesenskoye',
       'Voskhod', 'Gudja', 'Gawul', 'Sobeok', 'Nanhuang', 'Tanudan',
       'Jiaozuo', 'Takab', 'Gualeguay', 'Lagoa Seca', 'Bugarama',
       'Dicamay', 'Xiluodu', 'Hababah', 'Lobuk', 'Waiwukak', 'Abaete',
       'Xiaqiao', 'Zububah', 'Kesowo', 'Colombo', 'Messini', 'Yishui',
       'Nanyaojie', 'Buzen', 'Bom Jesus do Itabapoana', 'Centenario',
       'Al Jizah', 'Thi Tran Cam Thuy', 'Curahkalak Tengah', 'Ebu',
       'Tio Pujio', 'Shaxi', 'Kelishad va Sudarjan', 'Segodim', 'Yinying',
       'Harembo', 'Lazarevac', 'Zhongcun', 'Gaopeng', 'Tabonok', 'Tirana',
       'Maralal', 'Xinjiang', 'Mocho', 'Likhoy', 'Mineiros',
       'Noisy-le-Grand', 'Taoyuan', 'San Marcos de Colon', 'Pokrovka',
       'Shuntian', 'Joao Camara', 'Cunha', 'Fengyi', 'Myshkin',
       'Tewulike', 'Bistrinci', 'Chenguang', 'Muara', 'Qorveh',
       'Bom Despacho', 'Arhust', 'Thaton', 'Changbai', 'Kragan', 'Bida',
       'Pointe Michel', 'Juyuan', 'Sabugo', 'Huangjin', 'Huquan',
       'Xinqiao', 'Trzemeszno', 'Dashkawka', 'Sakura', 'Lianghu',
       'Karabash', 'Maomiaoji', 'Pingtian', 'Tisina',
       'Montceau-les-Mines', 'Karengan', 'Sungai Raya', 'Zwedru', 'Tahta',
       'Masaran', 'Huangtang', 'Skoutari', 'Jelat', 'Doibang',
       'Kazimierz Dolny', 'Margasari', 'Garca', 'Muff', 'Kryva Hora',
       'Pyra', 'General Lavalle', 'Zhongzhang', 'Estacion',
       'Xinglongchang', 'San Nicolas', 'Ropa', 'San Diego', 'Pan-an',
       'Shu', 'Mojogajeh', 'Mawu', 'Genting', 'Madan', 'Hexiangqiao',
       'Na Muen', 'Gafargaon', 'Qingban', 'Labege', 'Port Elizabeth',
       'Sauri', 'Desakolot', 'Huambo', 'Luoting', 'Stepnogorsk',
       'Zarechnyy', 'Banjar Medura', 'Arnprior', 'Donglu', 'Inderka',
       'Tochio-honcho', 'Pasadena', 'Barishal', 'Kihurio', 'Oekero',
       'Cluses', 'Wrzasowice', 'Hengfeng', 'Bor', 'Nawu', 'Longotea',
       'Habil al Jabr', 'Gueset', 'Likak', 'Yuanguping', 'Colon', 'Lyon',
       'Chamical', 'Agios Andreas', 'Cibeusi', 'Itsandzeni', 'Kosh-Agach',
       'Kuafeu', 'Xincheng', 'Minneapolis', 'Pefki', 'Hawalli', 'Imielin',
       'Przeworsk', 'Amsterdam Nieuw West', 'Klishkivtsi', 'Borova',
       'Vendargues', 'Zilang', 'Camalote', 'Julayjilah', 'Badajoz',
       'Fort Wayne', 'Galan', 'Saint Joseph',
       "Hospitalet De Llobregat, L'", 'Palma De Mallorca', 'Pho Duc',
       'Łeba', 'Yaguaraparo', 'Novoorsk', 'Wuyang', 'Pelasgia',
       'Phuc Tho', 'Vsevolozhsk', 'Kara Suu', 'Beigucheng', 'Cerro',
       'Yamaga', 'Sacramento', 'Foso', 'Nowe Brzesko', 'Konarak',
       'Qingshandi', 'Mbala', 'Shiqiao', 'Yatsuomachi-higashikumisaka',
       'Czarna Dabrowka', 'Pasirmadang', 'Mano', 'Tiwi', 'Ahar', 'Dake',
       'Harstad', 'Perbaungan', 'Soroti', 'Caruaru', 'Kamiennik',
       'Boundiali', 'Gotene', 'Kadumelati', 'Amparo', 'Shimen',
       'Philadelphia', 'Myingyan', 'Qingqu', 'Poste de Flacq',
       'Tawr al Bahah', 'Phu Loc', 'Jembangan', 'Harhorin', 'Meijiang',
       'Langub', 'Bangbayang', 'Steborice', 'Banturkrajan', 'Sao Torcato',
       'Kapan', 'Van Giang', 'Tanushimarumachi-toyoki', 'Kazo',
       'Rawa Mazowiecka', 'Wonsan', 'Villavicencio', 'Berlin', 'Wailang',
       'Fangshan', 'Tallahassee', 'Anchorage', 'Mulhouse', 'Tangkilsari',
       'San Carlos', 'Queluz', 'Sarkisalo', 'Vitoria-Gasteiz', 'Coro',
       'Purwa', 'Gavle', 'Embu Guacu', 'Fubin', 'Talshand', 'Palampal',
       'Kamarai', 'Ettelbruck', 'Cawayan', 'Don Carlos', 'Cervantes',
       'Ebebiyin', 'Chuquitira', 'Proletarsk', 'Naghalin', 'Honolulu',
       'Dhalie', 'Giesteira', 'Khilok', 'Vereshchagino', 'Binagadi',
       'Tsuen Wan', 'Banjar Batanpoh', 'Yenakiyeve', 'San Ramon',
       'Sakete', 'Pantenan', 'Antrukan', 'Dhahab', 'Vetluga', 'Wolfsberg',
       'San Bautista', 'Reuleuet', 'Lonpao Dajah', 'Nanqiao', 'Ishikawa',
       'Oguma', 'Tesany', 'Aksha', 'Lahan Sai', 'Estancia', 'Las Lomas',
       'Xiamayu', 'Inapari', 'Orsay', 'Zhongying', 'Bayhan', 'Beizhakou',
       'Kyongsong', 'Turinsk', 'As Sawda', 'Legaspi', 'Shimorskoye',
       'Koscielec', 'Yongfu', 'Vinkkila', 'Revolucion Verde', 'Newton',
       'Nantang', 'Perugia', 'Tancheng', 'Leon Postigo', 'Bollene',
       'Baihe', 'Puqi', 'Pedraza', 'Pasinan Barat', 'Saltpond', 'Rende',
       'Zarasai', 'Nanchangshan', 'Pegoes', 'Espirito Santo do Pinhal',
       'Ujezd', 'Bhadrapur', 'Kostrovo', 'Lemery', 'Youcheng', 'Napoli',
       'El Cano', 'Heemstede', 'Panyam', 'Faraulep', 'San Isidro',
       'Mranggen', 'Cigadog', 'Caitang', 'Masoyila', 'Beiyuan', 'Kariya',
       'Malakhovka', 'At-Bashi', 'Sankeyushu', 'Limoges', 'Hagersten',
       'Tarata', 'Marabahan', 'Eslamabad', 'Emar', 'Baisha', 'Skorzec',
       'Sao Joao dos Inhamuns', 'Tambaksari', 'Lazarat', 'Belene',
       'Xiangshan', 'Zengfu', 'Tingsryd', 'Tipaz', 'Wadi as Salqa',
       'Wasagu', 'Wangsi', 'Esmeralda', 'Chivilcoy',
       'Sao Miguel do Araguaia', 'Libei', 'Kucove', 'Bokong Timur',
       'Gaowu', 'Gueret', 'Postrekov', 'Gobojango', 'Tandahimba', 'Iwade',
       'La Guata', 'Saint-Brieuc', 'Paya Dapur', 'Xinzha', 'Al Qarah',
       'Antipolo', 'Yuyangguan', 'Qiman', 'Maguwon', 'Tsibulev',
       'San Antonio Aguas Calientes', 'Pombas', 'Ku‘aydinah',
       'San Marcos', 'Chum Phae', 'La Laja', 'San Juan del Cesar',
       'Taiyigong', 'Tayabamba', 'Majennang', 'Njeru', 'Ambatolaona',
       'Jianggang', 'Langkou', 'Horni Sucha', 'Haradok', 'Vichuga',
       'Luci', 'Guolemude', 'Prengtale', 'Cabanas', 'Faizabad', 'Sukumo',
       'Fenglu', 'Tanjungbalai', 'Carrefour', 'Hejiang', 'Yaizu', 'Kembe',
       'Novokayakent', 'Hekou', 'Bailadores', 'Masuda', 'Martanesh',
       'Xinzhou', 'Nanfeng', 'Oke Ila', 'Rio Pardo', 'Pingtang',
       'Podbrdo', 'Aramayuan', 'Paquera', 'Warudoyong', 'Beziers',
       'Dongzhou'], dtype=object)

In [140]:
import re

# Removing unwanted characters like weird quotes and backslashes
df['Location'] = df['Location'].astype(str).apply(lambda x: re.sub(r'[\"\'\\`’“”]', '', x).strip())

In [141]:
df['Location'].unique()

array(['Evry', 'Huocheng', 'Huzhen', 'Wiwili', 'Nara', 'Boro Utara',
       'Liren', 'Taocheng', 'Grabo', 'Pryamitsyno', 'Punta Gorda', 'Gyor',
       'Gaosheng', 'Rokytne', 'Alameda', 'Dhankuta', 'Jindong', 'Ngeru',
       'White Rock', 'Monastyrshchina', 'Pangkalanbunut', 'Lederaba',
       'Lugo', 'Sao Roque', 'Bani Khaddash', 'Montpellier', 'Nesovice',
       'Pasirhuni', 'Glendale', 'Tala', 'Marseille', 'Nasielsk',
       'Paris 06', 'Bronnitsy', 'Inayauan', 'Qianjin', 'Bagahanlad',
       'Rzewnie', 'Strabychovo', 'Hongqi', 'Oeoh', 'Topolnoye', 'Kovarov',
       'Majdal Bani Fadil', 'Delta del Tigre', 'Santa Cruz La Laguna',
       'Manchester', 'Norrkoping', 'Sosno', 'Pella', 'Namur', 'Benevides',
       'Qinghaihu', 'Alfeizerao', 'Prostredni Becva', 'Oeiras', 'Kythnos',
       'Rizal', 'Fullerton', 'Huaidao', 'Bilice', 'Isla Verde', 'Hunkuyi',
       'Shiree', 'Strezhevoy', 'Longxing', 'Jesus Menendez', 'Hongguang',
       'Pilaya', 'Camp Ithier', 'Holboo', 'Luxi', 'Ostashkov',
       'Hongshanzui', 'Tocoa', 'Bayan Tuohai', 'Parumasan', 'Karpogory',
       'Shahzadpur', 'Muaratiga', 'Gjegjan', 'Creteil', 'Pameungpeuk',
       'Junshan', 'Lewotola', 'Laocheng', 'Guacari', 'Sancang', 'Ndewel',
       'San Patricio', 'Fengtai', 'Dawran ad Daydah', 'Magdalena',
       'Lesnica', 'Hinlayagan Ilaud', 'Forshaga', 'Rakszawa', 'Fengjiang',
       'Jiangcun', 'Okuchi', 'Novoukrainskiy', 'Acobambilla', 'Kyonju',
       'Pomar', 'Zaltan', 'Trelaze', 'Messina', 'Mragowo', 'Ngawi',
       'Oslo', 'Dobrica', 'La Roche-sur-Yon', 'Point Pedro', 'Tianbao',
       'Puqian', 'Binalbagan', 'Tessalit', 'Nikolayevsk', 'Dashuipo',
       'Tyn nad Vltavou', 'Kaum Kaler', 'Gandapura', 'Kawangkoan',
       'Mondorf-les-Bains', 'Manwakh', 'Karlstad', 'Obong', 'Kolsko',
       'Dalbandin', 'Shazi', 'Hachioji', 'Jolo', 'Pedra Azul',
       'Gustavsberg', 'La Mohammedia', 'Florida', 'Zhongcheng',
       'Goiatuba', 'Krajan Kidul Rojopolo', 'Metchosin', 'Staritsa',
       'Benito Juarez', 'Mani', 'Vitali', 'Mizque', 'Zgornje Pirnice',
       'Cipolletti', 'Solleftea', 'Klonowa', 'Suvorov', 'Dragash',
       'Freiburg im Breisgau', 'Macau', 'Pancas', 'Dayapan',
       'Gordon Town', 'Proptisht', 'Kamal', 'Kouvola', 'Zhongdong',
       'Betong', 'Jinping', 'Mgachi', 'Lameira', 'Medicine Hat',
       'Yenikoy', 'Peer', 'Belusovka', 'Houston', 'Hengdian', 'Shuigou',
       'Xingxi', 'Dhibin', 'Chengguan', 'Paris 09', 'Rozhdestveno',
       'Porangatu', 'Shalkar', 'Quimbaya', 'Narok', 'Gimcheon',
       'Visaginas', 'Shostka', 'Pukekohe East', 'Blokdesa Situgede',
       'Yueyang', 'Liutan', 'Huanggang', 'Baturite', 'Miersi', 'Xuedian',
       'Yuyapichis', 'Shiroishi', 'Kobe', 'Gulou', 'Jilin', 'Balboa',
       'Cipari', 'Orlando', 'Torsby', 'San Pablo', 'Daszewice',
       'Villa Concepcion del Tio', 'Hacienda La Calera', 'Puerto Lopez',
       'Xinchengzi', 'Tecpan Guatemala', 'Araci', 'Duyure', 'Huangni',
       'Kuala Lumpur', 'Seleus', 'Monrovia', 'Kristinehamn',
       'Huancabamba', 'San Jose Acatempa', 'Quebrada Canoa', 'Moate',
       'Kubangwaru', 'Марино', 'Xinquan', 'Providence', 'Autun', 'Shilin',
       'Paris 17', 'Stoczek Łukowski', 'Ormstown', 'Ponte', 'Boshkengash',
       'Đa Teh', 'Rada‘', 'Sinarwangi', 'Dagup', 'Ełk', 'Moju', 'Vilia',
       'Prince Rupert', 'Jiangmen', 'Alung', 'Osorno', 'Labo',
       'Dakingari', 'Selasari', 'Besko', 'Aubergenville', 'Sula',
       'Valongo', 'Al Khankah', 'Mertola', 'Rates', 'Anyang', 'Nymburk',
       'Tafo', 'Cibaregbeg', 'Wang Yang', 'Liangnong', 'Hengshi',
       'Kandangan', 'Naranjal', 'Abiko', 'Longhuashan', 'Zhovkva',
       'Lebak', 'Gereshk', 'Yonghe', 'Dabai', 'Moutnice', 'Qiryat Yam',
       'Pirane', 'Colima', 'Marshintsy', 'Halinow', 'Hallsberg',
       'Celso Ramos', 'White River', 'Taishihe', 'Shanghu', 'Brandsen',
       'Ranot', 'Saint-Jouan-des-Guerets', 'Daan', 'Kisovec', 'Abdanan',
       'Dafeng', 'Campo Maior', 'Savedalen', 'Brikcha', 'Xidianzi',
       'La Union', 'Kliteh', 'Beja', 'Ferreira do Alentejo', 'Gegernoong',
       'La Montanita', 'Sarishabari', 'Mangge', 'Chabarovice', 'Yangping',
       'Berezna', 'Vidual', 'Hultsfred', 'Nikaia', 'Macayug', 'Mahanoro',
       'Mozdok', 'Hoolt', 'San Luis', 'Pergan', 'Kanoni', 'Gromadka',
       'Payapa', 'Rat Burana', 'Trhove Sviny', 'Kiev', 'Lomintsevskiy',
       'Monchegorsk', 'Olavarria', 'Jianshan', 'Shreveport', 'Pingzhuang',
       'Merlo', 'Ziniare', 'Zdunska Wola', 'Mount Ayliff', 'Pirgaaj',
       'Zbraslavice', 'Xilu', 'Bamut', 'La Tour-du-Pin', 'Pader Palwo',
       'Maurisu', 'Gorzyce', 'Qingyun', 'Jiuxian', 'Ndungu',
       'Emiliano Zapata', 'Spasskoye', 'Gierłoz', 'Sobue', 'High Point',
       'Qiankeng', 'Pandean', 'Phong Đien', 'Mirow', 'Franceville',
       'Bordeaux', 'Zamora', 'Jubaoshan', 'Shadegan', 'Gueltat Zemmour',
       'Mosalsk', 'Kokstad', 'Malasin', 'Huaqiu', 'Loket',
       'Santa Maria do Souto', 'Yanshang', 'Tempuran', 'Karafao',
       'Sao Cristovao', 'Buensuseso', 'Blantyre', 'Kozelshchyna',
       'Cibuah', 'Cockburn Town', 'Maslog', 'Faqqu‘ah', 'Yelyzavethradka',
       'Jackson', 'Itaguai', 'Ftelia', 'Kiambu', 'Xiber-Murrize', 'Xudat',
       'Yaodu', 'Saint-Gratien', 'Totora', 'Goteborg', 'Caslav',
       'Rudnogorsk', 'Pindiga', 'Adela', 'Krajan Baru', 'Jinqiao',
       'Barg-e Matal', 'Argenteuil', 'Daying', 'Ngrejo', 'Xieba', 'Sigli',
       'Aristobulo del Valle', 'Cane', 'Podhum', 'Vilar', 'Portela',
       'Arendal', 'Nabinagar', 'La Ravoire', 'Dostoyevka', 'Liuzhou',
       'Sao Mateus do Maranhao', 'Rumbek', 'Cigedang', 'Muaralabuh',
       'Chełmiec', 'Santa Marta', 'Brando', 'Liangshuihe', 'Cimara',
       'Sanxing', 'Linao', 'Bairan', 'Abaetetuba', 'Pasirjaya', 'Acheng',
       'Huakoulongtan', 'Burgastai', 'Chavarria', 'Demuk', 'Sertolovo',
       'Jixian', 'Deqing', 'Sala', 'Dłutow', 'Regimin', 'Semiletka',
       'Dayr Sharaf', 'Adani', 'Rakhiv', 'Maan', 'Navoiy',
       'Sishilichengzi', 'Tigaherang', 'Villa Dolores', 'Poa', 'Shibushi',
       'Tilburg', 'Ugra', 'Montreuil', 'Garibaldi', 'Tiang', 'Mouquim',
       'Montecristi', 'Prince Albert', 'Zajecov', 'Liushun', 'Sancha',
       'Damnoen Saduak', 'Cianorte', 'Liuzuo', 'Kashmar', '‘Arad',
       'Lenart v Slov. Goricah', 'Bigaa', 'Guadalupe', 'Xiaruyue',
       'Gweedore', 'Przelewice', 'Dalumangcob', 'Cravo Norte', 'Monteria',
       'Mikun', 'Samamiya', 'Tanahmerah', 'Orebro', 'Kefar Yona', 'Pasto',
       'Huangtan', 'Ilinskiy', 'Ugljevik', 'Na Chaluai', 'Marolambo',
       'Cali', 'Tamana', 'Miyazu', 'Gryfow Slaski', 'Pinagsibaan',
       'Jardin', 'Aguilares', 'Muslyumovo', 'Taiyuan', 'Chatturat',
       'Paisha', 'Kadugadung', 'Paris 15', 'Dualing', 'Adelaide',
       'Pingshi', 'Renshan', 'Sobinka', 'Narol', 'Fresno', 'Vabalninkas',
       'Jambuwerkrajan', 'Ozubulu', 'Nakhchivan', 'Curumani', 'Praia',
       'Pallisa', 'San Pascual', '‘Asirah ash Shamaliyah', 'Dom Pedrito',
       'San Sebastian de Yali', 'Shchekino', 'Turkestan', 'Rzeczenica',
       'Perzow', 'Sabon Gari-Nangere', 'Hengshui', 'Nantes', 'Tamorot',
       'Sinchao', 'Anding', 'Rukem', 'Bogovarovo', 'Valbo', 'Jaguaruana',
       'Taqchah Khanah', 'Lipovci', 'Panagyurishte', 'Thi Tran Than Uyen',
       'Clichy', 'Kłoczew', 'Zhukovo', 'Nykoping', 'Jianmin',
       'Bucaramanga', 'Kudanding', 'Kyoto', 'Saraburi', 'Negeriagung',
       'Latacunga', 'Guanzhou', 'Tabuc Pontevedra', 'Kabale', 'Malveira',
       'Veiga', 'Jagistay', 'Yuannan', 'Mount Darwin',
       'Qal‘eh-ye Khvajeh', 'Al Qararah', 'Fandriana', 'Carregueira',
       'Lincheng', 'Semenivka', 'Ylane', 'Cendagah', 'Firuzabad',
       'Trondheim', 'Yakovlevo', 'Katav-Ivanovsk', 'Voznesenskoye',
       'Voskhod', 'Gudja', 'Gawul', 'Sobeok', 'Nanhuang', 'Tanudan',
       'Jiaozuo', 'Takab', 'Gualeguay', 'Lagoa Seca', 'Bugarama',
       'Dicamay', 'Xiluodu', 'Hababah', 'Lobuk', 'Waiwukak', 'Abaete',
       'Xiaqiao', 'Zububah', 'Kesowo', 'Colombo', 'Messini', 'Yishui',
       'Nanyaojie', 'Buzen', 'Bom Jesus do Itabapoana', 'Centenario',
       'Al Jizah', 'Thi Tran Cam Thuy', 'Curahkalak Tengah', 'Ebu',
       'Tio Pujio', 'Shaxi', 'Kelishad va Sudarjan', 'Segodim', 'Yinying',
       'Harembo', 'Lazarevac', 'Zhongcun', 'Gaopeng', 'Tabonok', 'Tirana',
       'Maralal', 'Xinjiang', 'Mocho', 'Likhoy', 'Mineiros',
       'Noisy-le-Grand', 'Taoyuan', 'San Marcos de Colon', 'Pokrovka',
       'Shuntian', 'Joao Camara', 'Cunha', 'Fengyi', 'Myshkin',
       'Tewulike', 'Bistrinci', 'Chenguang', 'Muara', 'Qorveh',
       'Bom Despacho', 'Arhust', 'Thaton', 'Changbai', 'Kragan', 'Bida',
       'Pointe Michel', 'Juyuan', 'Sabugo', 'Huangjin', 'Huquan',
       'Xinqiao', 'Trzemeszno', 'Dashkawka', 'Sakura', 'Lianghu',
       'Karabash', 'Maomiaoji', 'Pingtian', 'Tisina',
       'Montceau-les-Mines', 'Karengan', 'Sungai Raya', 'Zwedru', 'Tahta',
       'Masaran', 'Huangtang', 'Skoutari', 'Jelat', 'Doibang',
       'Kazimierz Dolny', 'Margasari', 'Garca', 'Muff', 'Kryva Hora',
       'Pyra', 'General Lavalle', 'Zhongzhang', 'Estacion',
       'Xinglongchang', 'San Nicolas', 'Ropa', 'San Diego', 'Pan-an',
       'Shu', 'Mojogajeh', 'Mawu', 'Genting', 'Madan', 'Hexiangqiao',
       'Na Muen', 'Gafargaon', 'Qingban', 'Labege', 'Port Elizabeth',
       'Sauri', 'Desakolot', 'Huambo', 'Luoting', 'Stepnogorsk',
       'Zarechnyy', 'Banjar Medura', 'Arnprior', 'Donglu', 'Inderka',
       'Tochio-honcho', 'Pasadena', 'Barishal', 'Kihurio', 'Oekero',
       'Cluses', 'Wrzasowice', 'Hengfeng', 'Bor', 'Nawu', 'Longotea',
       'Habil al Jabr', 'Gueset', 'Likak', 'Yuanguping', 'Colon', 'Lyon',
       'Chamical', 'Agios Andreas', 'Cibeusi', 'Itsandzeni', 'Kosh-Agach',
       'Kuafeu', 'Xincheng', 'Minneapolis', 'Pefki', 'Hawalli', 'Imielin',
       'Przeworsk', 'Amsterdam Nieuw West', 'Klishkivtsi', 'Borova',
       'Vendargues', 'Zilang', 'Camalote', 'Julayjilah', 'Badajoz',
       'Fort Wayne', 'Galan', 'Saint Joseph',
       'Hospitalet De Llobregat, L', 'Palma De Mallorca', 'Pho Duc',
       'Łeba', 'Yaguaraparo', 'Novoorsk', 'Wuyang', 'Pelasgia',
       'Phuc Tho', 'Vsevolozhsk', 'Kara Suu', 'Beigucheng', 'Cerro',
       'Yamaga', 'Sacramento', 'Foso', 'Nowe Brzesko', 'Konarak',
       'Qingshandi', 'Mbala', 'Shiqiao', 'Yatsuomachi-higashikumisaka',
       'Czarna Dabrowka', 'Pasirmadang', 'Mano', 'Tiwi', 'Ahar', 'Dake',
       'Harstad', 'Perbaungan', 'Soroti', 'Caruaru', 'Kamiennik',
       'Boundiali', 'Gotene', 'Kadumelati', 'Amparo', 'Shimen',
       'Philadelphia', 'Myingyan', 'Qingqu', 'Poste de Flacq',
       'Tawr al Bahah', 'Phu Loc', 'Jembangan', 'Harhorin', 'Meijiang',
       'Langub', 'Bangbayang', 'Steborice', 'Banturkrajan', 'Sao Torcato',
       'Kapan', 'Van Giang', 'Tanushimarumachi-toyoki', 'Kazo',
       'Rawa Mazowiecka', 'Wonsan', 'Villavicencio', 'Berlin', 'Wailang',
       'Fangshan', 'Tallahassee', 'Anchorage', 'Mulhouse', 'Tangkilsari',
       'San Carlos', 'Queluz', 'Sarkisalo', 'Vitoria-Gasteiz', 'Coro',
       'Purwa', 'Gavle', 'Embu Guacu', 'Fubin', 'Talshand', 'Palampal',
       'Kamarai', 'Ettelbruck', 'Cawayan', 'Don Carlos', 'Cervantes',
       'Ebebiyin', 'Chuquitira', 'Proletarsk', 'Naghalin', 'Honolulu',
       'Dhalie', 'Giesteira', 'Khilok', 'Vereshchagino', 'Binagadi',
       'Tsuen Wan', 'Banjar Batanpoh', 'Yenakiyeve', 'San Ramon',
       'Sakete', 'Pantenan', 'Antrukan', 'Dhahab', 'Vetluga', 'Wolfsberg',
       'San Bautista', 'Reuleuet', 'Lonpao Dajah', 'Nanqiao', 'Ishikawa',
       'Oguma', 'Tesany', 'Aksha', 'Lahan Sai', 'Estancia', 'Las Lomas',
       'Xiamayu', 'Inapari', 'Orsay', 'Zhongying', 'Bayhan', 'Beizhakou',
       'Kyongsong', 'Turinsk', 'As Sawda', 'Legaspi', 'Shimorskoye',
       'Koscielec', 'Yongfu', 'Vinkkila', 'Revolucion Verde', 'Newton',
       'Nantang', 'Perugia', 'Tancheng', 'Leon Postigo', 'Bollene',
       'Baihe', 'Puqi', 'Pedraza', 'Pasinan Barat', 'Saltpond', 'Rende',
       'Zarasai', 'Nanchangshan', 'Pegoes', 'Espirito Santo do Pinhal',
       'Ujezd', 'Bhadrapur', 'Kostrovo', 'Lemery', 'Youcheng', 'Napoli',
       'El Cano', 'Heemstede', 'Panyam', 'Faraulep', 'San Isidro',
       'Mranggen', 'Cigadog', 'Caitang', 'Masoyila', 'Beiyuan', 'Kariya',
       'Malakhovka', 'At-Bashi', 'Sankeyushu', 'Limoges', 'Hagersten',
       'Tarata', 'Marabahan', 'Eslamabad', 'Emar', 'Baisha', 'Skorzec',
       'Sao Joao dos Inhamuns', 'Tambaksari', 'Lazarat', 'Belene',
       'Xiangshan', 'Zengfu', 'Tingsryd', 'Tipaz', 'Wadi as Salqa',
       'Wasagu', 'Wangsi', 'Esmeralda', 'Chivilcoy',
       'Sao Miguel do Araguaia', 'Libei', 'Kucove', 'Bokong Timur',
       'Gaowu', 'Gueret', 'Postrekov', 'Gobojango', 'Tandahimba', 'Iwade',
       'La Guata', 'Saint-Brieuc', 'Paya Dapur', 'Xinzha', 'Al Qarah',
       'Antipolo', 'Yuyangguan', 'Qiman', 'Maguwon', 'Tsibulev',
       'San Antonio Aguas Calientes', 'Pombas', 'Ku‘aydinah',
       'San Marcos', 'Chum Phae', 'La Laja', 'San Juan del Cesar',
       'Taiyigong', 'Tayabamba', 'Majennang', 'Njeru', 'Ambatolaona',
       'Jianggang', 'Langkou', 'Horni Sucha', 'Haradok', 'Vichuga',
       'Luci', 'Guolemude', 'Prengtale', 'Cabanas', 'Faizabad', 'Sukumo',
       'Fenglu', 'Tanjungbalai', 'Carrefour', 'Hejiang', 'Yaizu', 'Kembe',
       'Novokayakent', 'Hekou', 'Bailadores', 'Masuda', 'Martanesh',
       'Xinzhou', 'Nanfeng', 'Oke Ila', 'Rio Pardo', 'Pingtang',
       'Podbrdo', 'Aramayuan', 'Paquera', 'Warudoyong', 'Beziers',
       'Dongzhou'], dtype=object)

#### Feature Engineering

In [142]:
# extracting date parts from date_of_purchase
df['Month'] = pd.to_datetime(df['Date_of_Purchase']).dt.month
df['Weekday'] = pd.to_datetime(df['Date_of_Purchase']).dt.day_name()

In [143]:
df['Month'].unique()

array([ 3,  1, 10,  6,  7,  8, 12,  9,  2,  4, 11,  5])

In [144]:
df['Weekday'].unique()

array(['Friday', 'Monday', 'Tuesday', 'Sunday', 'Wednesday', 'Saturday',
       'Thursday'], dtype=object)

In [147]:
# categorical grouping - time spent on research
import numpy as np
df['Research_Time_Bucket'] = pd.cut(
    df['Time_Spent_on_Product_Research(hours)'],
    bins=[0, 0.5, 2, 5, 10, np.inf],
    labels=['Very Low', 'Low', 'Moderate', 'High', 'Very High']
)

In [148]:
df['Research_Time_Bucket']

0           Low
1           Low
2      Very Low
3           Low
4           NaN
         ...
995    Very Low
996         Low
997         Low
998    Very Low
999    Very Low
Name: Research_Time_Bucket, Length: 1000, dtype: category
Categories (5, object): ['Very Low' < 'Low' < 'Moderate' < 'High' < 'Very High']

In [149]:
# categorical grouping - time spent on decision making
df['Decision_Time_Bucket'] = pd.cut(
    df['Time_to_Decision'],
    bins=[0, 5, 15, 30, 60, np.inf],
    labels=['Instant', 'Quick', 'Normal', 'Delayed', 'Very Delayed']
)

In [150]:
df['Decision_Time_Bucket']

0      Instant
1        Quick
2      Instant
3        Quick
4      Instant
        ...
995    Instant
996      Quick
997      Quick
998      Quick
999    Instant
Name: Decision_Time_Bucket, Length: 1000, dtype: category
Categories (5, object): ['Instant' < 'Quick' < 'Normal' < 'Delayed' < 'Very Delayed']

In [151]:
df['High_Engagement User'] = (df['Time_Spent_on_Product_Research(hours)'] > 5).astype(int)

In [152]:
df['High_Engagement User']

0      0
1      0
2      0
3      0
4      0
      ..
995    0
996    0
997    0
998    0
999    0
Name: High_Engagement User, Length: 1000, dtype: int32

In [157]:
# copying the cleaned data to a new dataframe
df_cleaned_data = df.copy()

In [158]:
df_cleaned_data

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision,Month,Weekday,Research_Time_Bucket,Decision_Time_Bucket,High_Engagement User
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Evry,Gardening & Outdoors,334,...,Yes,No,Need-based,No Preference,2,3,Friday,Low,Instant,0
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,222,...,Yes,No,Wants-based,Standard,6,1,Monday,Low,Quick,0
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,426,...,Yes,Yes,Impulsive,No Preference,3,1,Monday,Very Low,Instant,0
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Wiwili,Home Appliances,101,...,Yes,Yes,Need-based,Express,10,10,Friday,Low,Quick,0
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,212,...,No,No,Wants-based,No Preference,4,1,Monday,NaN,Instant,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,20-562-2569,44,Female,High,Divorced,Bachelor's,High,Aramayuan,Mobile Accessories,464,...,Yes,No,Need-based,Standard,5,7,Sunday,Very Low,Instant,0
996,41-366-4205,50,Female,High,Single,High School,Middle,Paquera,Gardening & Outdoors,70,...,Yes,No,Wants-based,No Preference,9,1,Monday,Low,Quick,0
997,77-241-7621,26,Male,High,Married,Bachelor's,High,Warudoyong,Food & Beverages,453,...,Yes,Yes,Wants-based,Express,9,3,Monday,Low,Quick,0
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Beziers,Baby Products,106,...,Yes,Yes,Impulsive,Standard,8,1,Monday,Very Low,Quick,0
999,48-203-9118,21,Female,Middle,Single,High School,High,Dongzhou,Health Care,378,...,No,No,Planned,Express,2,12,Sunday,Very Low,Instant,0

In [ ]:
df_encoded

#### Encoding categorical columns

In [159]:
df['Discount_Used'].unique()

array(['Yes', 'No'], dtype=object)

In [160]:
df['Customer_Loyalty_Program_Member'].unique()

array(['No', 'Yes'], dtype=object)

In [161]:
df['Income_Level'].unique()

array(['Middle', 'High'], dtype=object)

In [162]:
df['Occupation'].unique()

array(['Middle', 'High'], dtype=object)

In [164]:
# encoding binary categorical columns
df['Discount_Used_Encoded'] = df['Discount_Used'].map({'Yes': 1, 'No': 0})
df['Customer_Loyalty_Encoded'] = df['Customer_Loyalty_Program_Member'].map({'Yes': 1, 'No': 0})
df['Income_Level_Encoded'] = df['Income_Level'].map({'High': 1, 'Middle': 0})
df['Occupation_Encoded'] = df['Occupation'].map({'High': 1, 'Middle': 0})

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 37 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Customer_ID                            1000 non-null   object
 1   Age                                    1000 non-null   int64
 2   Gender                                 1000 non-null   object
 3   Income_Level                           1000 non-null   object
 4   Marital_Status                         1000 non-null   object
 5   Education_Level                        1000 non-null   object
 6   Occupation                             1000 non-null   object
 7   Location                               1000 non-null   object
 8   Purchase_Category                      1000 non-null   object
 9   Purchase_Amount                        1000 non-null   int32
 10  Frequency_of_Purchase                  1000 non-null   int64
 11  Purchase_Channel                       1000 non-null   object
 12  Brand_Loyalty                          1000 non-null   int64
 13  Product_Rating                         1000 non-null   int64
 14  Time_Spent_on_Product_Research(hours)  1000 non-null   float64
 15  Social_Media_Influence                 1000 non-null   object
 16  Discount_Sensitivity                   1000 non-null   object
 17  Return_Rate                            1000 non-null   int64
 18  Customer_Satisfaction                  1000 non-null   int64
 19  Engagement_with_Ads                    1000 non-null   object
 20  Device_Used_for_Shopping               1000 non-null   object
 21  Payment_Method                         1000 non-null   object
 22  Date_of_Purchase                       1000 non-null   object
 23  Discount_Used                          1000 non-null   object
 24  Customer_Loyalty_Program_Member        1000 non-null   object
 25  Purchase_Intent                        1000 non-null   object
 26  Shipping_Preference                    1000 non-null   object
 27  Time_to_Decision                       1000 non-null   int64
 28  Month                                  1000 non-null   int32
 29  Weekday                                1000 non-null   object
 30  Research_Time_Bucket                   714 non-null    category
 31  Decision_Time_Bucket                   1000 non-null   category
 32  High_Engagement User                   1000 non-null   int32
 33  Discount_Used_Encoded                  1000 non-null   int64
 34  Customer_Loyalty_Encoded               1000 non-null   int64
 35  Income_Level_Encoded                   1000 non-null   int64
 36  Occupation_Encoded                     1000 non-null   int64
dtypes: category(2), float64(1), int32(3), int64(11), object(20)
memory usage: 264.2+ KB

In [166]:
# dropping unnecessary column - Customer_ID
df = df.drop(columns=['Customer_ID'])

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 36 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Age                                    1000 non-null   int64
 1   Gender                                 1000 non-null   object
 2   Income_Level                           1000 non-null   object
 3   Marital_Status                         1000 non-null   object
 4   Education_Level                        1000 non-null   object
 5   Occupation                             1000 non-null   object
 6   Location                               1000 non-null   object
 7   Purchase_Category                      1000 non-null   object
 8   Purchase_Amount                        1000 non-null   int32
 9   Frequency_of_Purchase                  1000 non-null   int64
 10  Purchase_Channel                       1000 non-null   object
 11  Brand_Loyalty                          1000 non-null   int64
 12  Product_Rating                         1000 non-null   int64
 13  Time_Spent_on_Product_Research(hours)  1000 non-null   float64
 14  Social_Media_Influence                 1000 non-null   object
 15  Discount_Sensitivity                   1000 non-null   object
 16  Return_Rate                            1000 non-null   int64
 17  Customer_Satisfaction                  1000 non-null   int64
 18  Engagement_with_Ads                    1000 non-null   object
 19  Device_Used_for_Shopping               1000 non-null   object
 20  Payment_Method                         1000 non-null   object
 21  Date_of_Purchase                       1000 non-null   object
 22  Discount_Used                          1000 non-null   object
 23  Customer_Loyalty_Program_Member        1000 non-null   object
 24  Purchase_Intent                        1000 non-null   object
 25  Shipping_Preference                    1000 non-null   object
 26  Time_to_Decision                       1000 non-null   int64
 27  Month                                  1000 non-null   int32
 28  Weekday                                1000 non-null   object
 29  Research_Time_Bucket                   714 non-null    category
 30  Decision_Time_Bucket                   1000 non-null   category
 31  High_Engagement User                   1000 non-null   int32
 32  Discount_Used_Encoded                  1000 non-null   int64
 33  Customer_Loyalty_Encoded               1000 non-null   int64
 34  Income_Level_Encoded                   1000 non-null   int64
 35  Occupation_Encoded                     1000 non-null   int64
dtypes: category(2), float64(1), int32(3), int64(11), object(19)
memory usage: 256.4+ KB

In [169]:
# encoding multiclass categorical columns
import pandas as pd
from sklearn.preprocessing import LabelEncoder

df_encoded = df.copy()

# Define ordinal columns and order
ordinal_cols = {
    'Social_Media_Influence': ['None', 'Low', 'Medium', 'High'],
    'Engagement_with_Ads': ['None', 'Low', 'Medium', 'High']
}

# Map each category to its index
for col, order in ordinal_cols.items():
    order_dict = {k: v for v, k in enumerate(order)}
    df_encoded[col + '_Encoded'] = df_encoded[col].map(lambda x: order_dict.get(x, -1))  # -1 if unknown

In [170]:
df_encoded

,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,Frequency_of_Purchase,...,Weekday,Research_Time_Bucket,Decision_Time_Bucket,High_Engagement User,Discount_Used_Encoded,Customer_Loyalty_Encoded,Income_Level_Encoded,Occupation_Encoded,Social_Media_Influence_Encoded,Engagement_with_Ads_Encoded
0,22,Female,Middle,Married,Bachelor's,Middle,Evry,Gardening & Outdoors,334,4,...,Friday,Low,Instant,0,1,0,0,0,-1,-1
1,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,222,11,...,Monday,Low,Quick,0,1,0,1,1,2,3
2,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,426,2,...,Monday,Very Low,Instant,0,1,1,0,1,1,1
3,29,Female,Middle,Single,Master's,Middle,Wiwili,Home Appliances,101,6,...,Friday,Low,Quick,0,1,1,0,0,3,-1
4,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,212,6,...,Monday,NaN,Instant,0,0,0,0,0,2,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44,Female,High,Divorced,Bachelor's,High,Aramayuan,Mobile Accessories,464,5,...,Sunday,Very Low,Instant,0,1,0,1,1,3,-1
996,50,Female,High,Single,High School,Middle,Paquera,Gardening & Outdoors,70,9,...,Monday,Low,Quick,0,1,0,1,0,1,1
997,26,Male,High,Married,Bachelor's,High,Warudoyong,Food & Beverages,453,10,...,Monday,Low,Quick,0,1,1,1,1,1,3
998,21,Female,High,Widowed,Bachelor's,Middle,Beziers,Baby Products,106,12,...,Monday,Very Low,Quick,0,1,1,1,0,1,2
999,21,Female,Middle,Single,High School,High,Dongzhou,Health Care,378,6,...,Sunday,Very Low,Instant,0,0,0,0,1,2,1

In [171]:
# One-hot encoding nominal multiclass columns
nominal_cols = [
    'Gender', 'Marital_Status', 'Education_Level',
    'Purchase_Category', 'Purchase_Channel',
    'Discount_Sensitivity', 'Device_Used_for_Shopping',
    'Payment_Method', 'Shipping_Preference'
]

df_encoded = pd.get_dummies(df_encoded, columns=nominal_cols, prefix=nominal_cols, drop_first=True)

In [172]:
df_encoded

,Age,Income_Level,Occupation,Location,Purchase_Amount,Frequency_of_Purchase,Brand_Loyalty,Product_Rating,Time_Spent_on_Product_Research(hours),Social_Media_Influence,...,Discount_Sensitivity_Somewhat Sensitive,Discount_Sensitivity_Very Sensitive,Device_Used_for_Shopping_Smartphone,Device_Used_for_Shopping_Tablet,Payment_Method_Credit Card,Payment_Method_Debit Card,Payment_Method_Other,Payment_Method_PayPal,Shipping_Preference_No Preference,Shipping_Preference_Standard
0,22,Middle,Middle,Evry,334,4,5,5,2.00,Unknown,...,True,False,False,True,True,False,False,False,True,False
1,49,High,High,Huocheng,222,11,3,1,2.00,Medium,...,False,False,False,True,False,False,False,True,False,True
2,24,Middle,High,Huzhen,426,2,5,5,0.30,Low,...,False,False,True,False,False,True,False,False,True,False
3,29,Middle,Middle,Wiwili,101,6,3,1,1.00,High,...,True,False,True,False,False,False,True,False,False,False
4,33,Middle,Middle,Nara,212,6,3,4,0.00,Medium,...,False,False,True,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44,High,High,Aramayuan,464,5,2,4,0.30,High,...,False,False,False,True,False,False,False,True,False,True
996,50,High,Middle,Paquera,70,9,4,3,2.00,Low,...,False,True,False,True,False,False,False,False,True,False
997,26,High,High,Warudoyong,453,10,1,1,2.00,Low,...,False,True,False,False,True,False,False,False,False,False
998,21,High,Middle,Beziers,106,12,4,4,0.30,Low,...,True,False,False,False,False,False,False,False,False,True
999,21,Middle,High,Dongzhou,378,6,5,2,0.33,Medium,...,False,False,False,True,False,False,True,False,False,False

### Handling Outliers

In [185]:
# applying IQR method 
cols_with_outliers = ['Age', 'Frequency_of_Purchase', 'Time_Spent_on_Product_Research(hours)', 'Time_to_Decision', 'Customer_Satisfaction']

for col in cols_with_outliers:
    Q1 = df_encoded[col].quantile(0.25)
    Q3 = df_encoded[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    outliers = df_encoded[(df_encoded[col] < lower) | (df_encoded[col] > upper)]
    print(f"{col} → Outliers: {len(outliers)}")

Age → Outliers: 0
Frequency_of_Purchase → Outliers: 0
Time_Spent_on_Product_Research(hours) → Outliers: 0
Time_to_Decision → Outliers: 0
Customer_Satisfaction → Outliers: 0

### Finding target column and train test split

In [ ]:
# setting the target column
target_col = 'Purchase_Intent'

In [ ]:
# label encoding the target column
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df_encoded['Purchase_Intent_Label'] = le.fit_transform(df_encoded['Purchase_Intent'])

# Optional: view label mappings
label_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print("Label Mapping:", label_mapping)

In [ ]:
# preparing feature set and target
X = df_encoded.drop(['Purchase_Intent', 'Purchase_Intent_Label'], axis=1)
y = df_encoded['Purchase_Intent_Label']

In [ ]:
# Train-test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, stratify=y, random_state=42 )

### Saving the Cleaned Data

In [186]:
df_encoded.to_csv("cleaned_and_encoded_data.csv", index=False)